.left1{
	background-color:white;
	width: 15%;
	height: 900px;
	font-family: "微软雅黑";
	font-size: 15px;
	text-align: center;
	margin-left: 10%;
	margin-top: 25px;
	float: left;
	
}
.left1 a:hover{
	color: #EEA236;
	border-left:1px solid #5BC0DE;
	
}

.left1 a:{
	margin-top: 5px;
	
}
.left11{
	margin-top: 10px;
	background-color: #EBEBEB ;
	border-radius: 3px;
	margin-left: 3px;
	margin-right: 3px;
} 
.neirong{
	background-color: #E5E5E5;
	padding-top: 5px;
	padding-bottom: 15px ;
}
.right1{
	background-color: white;
	width: 60%;
	height: 900px;
	float: left;
	font-family: "微软雅黑";
	font-size: 15px;
	color:white;
	margin-left: 5%;
	margin-top: 25px;
	float: left;
	font-weight: 700;
}
.touxiang{
	height: 150px;
}

.img1 img{
	height: 100px;
	width: 100px;
	

	
}
.img1{
	margin: 25px;
	
	float: left;
	
}
.touxiangziliao{
	width:40% ;
	height: 100px;
	float: left;
	
	margin-top: 25px;
	padding: 10px;
	
}
.ziliao{
	
	height: 100%;
	height: 545px;
	padding: 20px;
}

	

.lanmu1{
	margin-top: 10px;
	background-color: white;
	font-size: 20px;
	font-family: "楷体";
	font-weight: 700;
	height: 40px;
	border-radius: 3px;
	margin-left: 3px;
	margin-right: 3px;
	padding-top: 5px;
	color:  white;
	
	
}

.ziliao4{
	border: 1px solid #ADADAD;
	width: 380px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	
	color: #000000;
	border-radius: 4px;
	padding-left: 20px;
	padding-top: 10px;
}
.ziliao4 button{
	margin-top: 10px;
	margin-bottom: 10px;
	border: solid 1px #66AFE9;
    outline: 0;
    font: normal 15px/100% Verdana, Tahoma, sans-serif;
    color: #000000;
    background: #31B0D5;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 8px;    
    height: 23px;
    border-radius: 3px;
    color: white;
    font-family: "微软雅黑";
    font-weight: 800;
    display: block;
    margin-left:auto;
    margin-right: auto;
    
   
    
}

.ziliao4 input{
	width: 200px;
	margin-top: 10px;
	border: solid 1px  #777777;
    outline: 0;
    font: normal 15px/100% Verdana, Tahoma, sans-serif;
    color: #000000;
    background: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;    
    height: 23px;
    border-radius: 3px;
    margin-right: 10px;
}

.ziliao4 img{
	height: 24px;
	width: 30px;
	border: solid 1px  #777777;
	
	
}
#label3{
	width: 150px;
}
.clear{
	clear: left;
}
