.login{
	background-image: url(../img/bggg2.png);
	background-size: 100% 600px; 
	background-repeat: no-repeat;
	height: 600px;
	width: 100%;
}
.login img{
	margin-left:12%;
	margin-top: 5%;
	float: left;
}
.login1{
	width: 385px;
	height: 428px;
	background-color: white;
	float: right;
	position: absolute;
	right: 10%;
	top: 25%;
}
.login1 p{
	font-family: "黑体";
	font-size: 22px;
	font-weight: 700;
	text-align: center;
	margin-top: 8%;
	
}
.login2{
	border: 1px solid #ADADAD;
	width: 340px;
	height: 52px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 32px;
	padding-right: 0px;
}
.login2 input{

	height: 49px;
	width: 298px;
	position: relative;
	border: 0px;
	top: -50px;
	left: 40px;
	color: #000000;
	padding-left: 20px;
	padding-right: 20px;
}

.login2 img{
	height: 30px;
	position: relative;
	top: -8px;
	left: -30px;
	
}
.clear{
	clear: all;
}
.login3{
	color: #000000;
	font-family: "新宋体";
	font-size: 13px;
	width: 350px;
	font-weight: 200;
	
	margin-left: 23px;
	margin-top: 34px;
}
.login3 input{
	position: relative;
	top: 2px;
	
}
.login3 span{
	color: #000000;
	margin-right: 20px;
	border: 0px;
}
.login3 a:hover{
	color: red;
	
	
	
}
.btn2{
	height: 50px;
	width: 340px;
	background-color: red;
	color: white;
	border: 0px;
	margin-left: 20px;
	
	margin-top: 12px;
}
.btn2:hover{
	background-color: #D43F3A;
}
