<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.older.manager.mapper.BloodtransfusionMapper" >
  <resultMap id="BaseResultMap" type="com.older.manager.bean.Bloodtransfusion" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bloodTransfusionWhy" property="bloodtransfusionwhy" jdbcType="VARCHAR" />
    <result column="OccurrenceTime" property="occurrencetime" jdbcType="DATE" />
    <result column="bloodTransfusionAmount" property="bloodtransfusionamount" jdbcType="DOUBLE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="oldMan_id" property="oldmanId" jdbcType="INTEGER" />
    <result column="numone" property="numone" jdbcType="VARCHAR" />
    <result column="numtwo" property="numtwo" jdbcType="VARCHAR" />
    <result column="numthree" property="numthree" jdbcType="VARCHAR" />
  </resultMap>
  <!-- 修改的 -->
   <resultMap id="BaseResultMapWithOlder" type="com.older.manager.bean.Bloodtransfusion" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bloodTransfusionWhy" property="bloodtransfusionwhy" jdbcType="VARCHAR" />
    <result column="OccurrenceTime" property="occurrencetime" jdbcType="DATE" />
    <result column="bloodTransfusionAmount" property="bloodtransfusionamount" jdbcType="DOUBLE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="oldMan_id" property="oldmanId" jdbcType="INTEGER" />
    <result column="numone" property="numone" jdbcType="VARCHAR" />
    <result column="numtwo" property="numtwo" jdbcType="VARCHAR" />
    <result column="numthree" property="numthree" jdbcType="VARCHAR" />
     <association property="oldman" javaType="com.older.manager.bean.Oldman">
    	<id column="oldMan_id" property="id"/>
    	<result column="name" property="name"/>
    </association>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, bloodTransfusionWhy, OccurrenceTime, bloodTransfusionAmount, remark, oldMan_id, 
    numone, numtwo, numthree
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.older.manager.bean.BloodtransfusionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bloodtransfusion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bloodtransfusion
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  
  
  
  <!-- 模糊查询 -->
    <select id="selectByExampleWithOlder" resultMap="BaseResultMapWithOlder" parameterType="com.older.manager.bean.Bloodtransfusion" >
    select b.*,o.id,o.name from bloodtransfusion b,oldman o where b.oldMan_id=o.id
    <if test="oldman!=null">
        	<if test="oldman.name!=null and oldman.name!=''">
        		and o.name like '%${oldman.name}%'
        	</if>
        </if>
        
  </select>
  <select id="selectByPrimaryKeyWithOlder" resultMap="BaseResultMapWithOlder" parameterType="java.lang.Integer" >
    select b.*,o.id,o.name from bloodtransfusion b,oldman o where b.oldMan_id=o.id
    and b.id = #{id,jdbcType=INTEGER}
  </select>
  
  
  
  
  
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bloodtransfusion
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.older.manager.bean.BloodtransfusionExample" >
    delete from bloodtransfusion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.older.manager.bean.Bloodtransfusion" >
    insert into bloodtransfusion (id, bloodTransfusionWhy, OccurrenceTime, 
      bloodTransfusionAmount, remark, oldMan_id, 
      numone, numtwo, numthree
      )
    values (#{id,jdbcType=INTEGER}, #{bloodtransfusionwhy,jdbcType=VARCHAR}, #{occurrencetime,jdbcType=DATE}, 
      #{bloodtransfusionamount,jdbcType=DOUBLE}, #{remark,jdbcType=VARCHAR}, #{oldmanId,jdbcType=INTEGER}, 
      #{numone,jdbcType=VARCHAR}, #{numtwo,jdbcType=VARCHAR}, #{numthree,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.older.manager.bean.Bloodtransfusion" >
    insert into bloodtransfusion
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bloodtransfusionwhy != null" >
        bloodTransfusionWhy,
      </if>
      <if test="occurrencetime != null" >
        OccurrenceTime,
      </if>
      <if test="bloodtransfusionamount != null" >
        bloodTransfusionAmount,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="oldmanId != null" >
        oldMan_id,
      </if>
      <if test="numone != null" >
        numone,
      </if>
      <if test="numtwo != null" >
        numtwo,
      </if>
      <if test="numthree != null" >
        numthree,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bloodtransfusionwhy != null" >
        #{bloodtransfusionwhy,jdbcType=VARCHAR},
      </if>
      <if test="occurrencetime != null" >
        #{occurrencetime,jdbcType=DATE},
      </if>
      <if test="bloodtransfusionamount != null" >
        #{bloodtransfusionamount,jdbcType=DOUBLE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="oldmanId != null" >
        #{oldmanId,jdbcType=INTEGER},
      </if>
      <if test="numone != null" >
        #{numone,jdbcType=VARCHAR},
      </if>
      <if test="numtwo != null" >
        #{numtwo,jdbcType=VARCHAR},
      </if>
      <if test="numthree != null" >
        #{numthree,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.older.manager.bean.BloodtransfusionExample" resultType="java.lang.Integer" >
    select count(*) from bloodtransfusion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bloodtransfusion
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.bloodtransfusionwhy != null" >
        bloodTransfusionWhy = #{record.bloodtransfusionwhy,jdbcType=VARCHAR},
      </if>
      <if test="record.occurrencetime != null" >
        OccurrenceTime = #{record.occurrencetime,jdbcType=DATE},
      </if>
      <if test="record.bloodtransfusionamount != null" >
        bloodTransfusionAmount = #{record.bloodtransfusionamount,jdbcType=DOUBLE},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.oldmanId != null" >
        oldMan_id = #{record.oldmanId,jdbcType=INTEGER},
      </if>
      <if test="record.numone != null" >
        numone = #{record.numone,jdbcType=VARCHAR},
      </if>
      <if test="record.numtwo != null" >
        numtwo = #{record.numtwo,jdbcType=VARCHAR},
      </if>
      <if test="record.numthree != null" >
        numthree = #{record.numthree,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bloodtransfusion
    set id = #{record.id,jdbcType=INTEGER},
      bloodTransfusionWhy = #{record.bloodtransfusionwhy,jdbcType=VARCHAR},
      OccurrenceTime = #{record.occurrencetime,jdbcType=DATE},
      bloodTransfusionAmount = #{record.bloodtransfusionamount,jdbcType=DOUBLE},
      remark = #{record.remark,jdbcType=VARCHAR},
      oldMan_id = #{record.oldmanId,jdbcType=INTEGER},
      numone = #{record.numone,jdbcType=VARCHAR},
      numtwo = #{record.numtwo,jdbcType=VARCHAR},
      numthree = #{record.numthree,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.older.manager.bean.Bloodtransfusion" >
    update bloodtransfusion
    <set >
      <if test="bloodtransfusionwhy != null" >
        bloodTransfusionWhy = #{bloodtransfusionwhy,jdbcType=VARCHAR},
      </if>
      <if test="occurrencetime != null" >
        OccurrenceTime = #{occurrencetime,jdbcType=DATE},
      </if>
      <if test="bloodtransfusionamount != null" >
        bloodTransfusionAmount = #{bloodtransfusionamount,jdbcType=DOUBLE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="oldmanId != null" >
        oldMan_id = #{oldmanId,jdbcType=INTEGER},
      </if>
      <if test="numone != null" >
        numone = #{numone,jdbcType=VARCHAR},
      </if>
      <if test="numtwo != null" >
        numtwo = #{numtwo,jdbcType=VARCHAR},
      </if>
      <if test="numthree != null" >
        numthree = #{numthree,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.older.manager.bean.Bloodtransfusion" >
    update bloodtransfusion
    set bloodTransfusionWhy = #{bloodtransfusionwhy,jdbcType=VARCHAR},
      OccurrenceTime = #{occurrencetime,jdbcType=DATE},
      bloodTransfusionAmount = #{bloodtransfusionamount,jdbcType=DOUBLE},
      remark = #{remark,jdbcType=VARCHAR},
      oldMan_id = #{oldmanId,jdbcType=INTEGER},
      numone = #{numone,jdbcType=VARCHAR},
      numtwo = #{numtwo,jdbcType=VARCHAR},
      numthree = #{numthree,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>