<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.older.manager.mapper.HobbyMapper" >
  <resultMap id="BaseResultMap" type="com.older.manager.bean.Hobby" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="projectName" property="projectname" jdbcType="VARCHAR" />
    <result column="oldMan_id" property="oldmanId" jdbcType="INTEGER" />
    <result column="Hobby1" property="hobby1" jdbcType="VARCHAR" />
    <result column="Hobby2" property="hobby2" jdbcType="VARCHAR" />
    <result column="Hobby3" property="hobby3" jdbcType="VARCHAR" />
    <result column="Hobby4" property="hobby4" jdbcType="VARCHAR" />
    <result column="Hobby5" property="hobby5" jdbcType="VARCHAR" />
    <result column="Hobby6" property="hobby6" jdbcType="VARCHAR" />
    <result column="Hobby7" property="hobby7" jdbcType="VARCHAR" />
    <result column="Hobby8" property="hobby8" jdbcType="VARCHAR" />
    <result column="Hobby9" property="hobby9" jdbcType="VARCHAR" />
    <result column="Hobby10" property="hobby10" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, projectName, oldMan_id, Hobby1, Hobby2, Hobby3, Hobby4, Hobby5, Hobby6, Hobby7, 
    Hobby8, Hobby9, Hobby10
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.older.manager.bean.HobbyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hobby
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    order by id DESC
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hobby
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hobby
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.older.manager.bean.HobbyExample" >
    delete from hobby
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.older.manager.bean.Hobby" >
    insert into hobby (id, projectName, oldMan_id, 
      Hobby1, Hobby2, Hobby3, 
      Hobby4, Hobby5, Hobby6, 
      Hobby7, Hobby8, Hobby9, 
      Hobby10)
    values (#{id,jdbcType=INTEGER}, #{projectname,jdbcType=VARCHAR}, #{oldmanId,jdbcType=INTEGER}, 
      #{hobby1,jdbcType=VARCHAR}, #{hobby2,jdbcType=VARCHAR}, #{hobby3,jdbcType=VARCHAR}, 
      #{hobby4,jdbcType=VARCHAR}, #{hobby5,jdbcType=VARCHAR}, #{hobby6,jdbcType=VARCHAR}, 
      #{hobby7,jdbcType=VARCHAR}, #{hobby8,jdbcType=VARCHAR}, #{hobby9,jdbcType=VARCHAR}, 
      #{hobby10,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.older.manager.bean.Hobby" >
    insert into hobby
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projectname != null" >
        projectName,
      </if>
      <if test="oldmanId != null" >
        oldMan_id,
      </if>
      <if test="hobby1 != null" >
        Hobby1,
      </if>
      <if test="hobby2 != null" >
        Hobby2,
      </if>
      <if test="hobby3 != null" >
        Hobby3,
      </if>
      <if test="hobby4 != null" >
        Hobby4,
      </if>
      <if test="hobby5 != null" >
        Hobby5,
      </if>
      <if test="hobby6 != null" >
        Hobby6,
      </if>
      <if test="hobby7 != null" >
        Hobby7,
      </if>
      <if test="hobby8 != null" >
        Hobby8,
      </if>
      <if test="hobby9 != null" >
        Hobby9,
      </if>
      <if test="hobby10 != null" >
        Hobby10,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectname != null" >
        #{projectname,jdbcType=VARCHAR},
      </if>
      <if test="oldmanId != null" >
        #{oldmanId,jdbcType=INTEGER},
      </if>
      <if test="hobby1 != null" >
        #{hobby1,jdbcType=VARCHAR},
      </if>
      <if test="hobby2 != null" >
        #{hobby2,jdbcType=VARCHAR},
      </if>
      <if test="hobby3 != null" >
        #{hobby3,jdbcType=VARCHAR},
      </if>
      <if test="hobby4 != null" >
        #{hobby4,jdbcType=VARCHAR},
      </if>
      <if test="hobby5 != null" >
        #{hobby5,jdbcType=VARCHAR},
      </if>
      <if test="hobby6 != null" >
        #{hobby6,jdbcType=VARCHAR},
      </if>
      <if test="hobby7 != null" >
        #{hobby7,jdbcType=VARCHAR},
      </if>
      <if test="hobby8 != null" >
        #{hobby8,jdbcType=VARCHAR},
      </if>
      <if test="hobby9 != null" >
        #{hobby9,jdbcType=VARCHAR},
      </if>
      <if test="hobby10 != null" >
        #{hobby10,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.older.manager.bean.HobbyExample" resultType="java.lang.Integer" >
    select count(*) from hobby
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hobby
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.projectname != null" >
        projectName = #{record.projectname,jdbcType=VARCHAR},
      </if>
      <if test="record.oldmanId != null" >
        oldMan_id = #{record.oldmanId,jdbcType=INTEGER},
      </if>
      <if test="record.hobby1 != null" >
        Hobby1 = #{record.hobby1,jdbcType=VARCHAR},
      </if>
      <if test="record.hobby2 != null" >
        Hobby2 = #{record.hobby2,jdbcType=VARCHAR},
      </if>
      <if test="record.hobby3 != null" >
        Hobby3 = #{record.hobby3,jdbcType=VARCHAR},
      </if>
      <if test="record.hobby4 != null" >
        Hobby4 = #{record.hobby4,jdbcType=VARCHAR},
      </if>
      <if test="record.hobby5 != null" >
        Hobby5 = #{record.hobby5,jdbcType=VARCHAR},
      </if>
      <if test="record.hobby6 != null" >
        Hobby6 = #{record.hobby6,jdbcType=VARCHAR},
      </if>
      <if test="record.hobby7 != null" >
        Hobby7 = #{record.hobby7,jdbcType=VARCHAR},
      </if>
      <if test="record.hobby8 != null" >
        Hobby8 = #{record.hobby8,jdbcType=VARCHAR},
      </if>
      <if test="record.hobby9 != null" >
        Hobby9 = #{record.hobby9,jdbcType=VARCHAR},
      </if>
      <if test="record.hobby10 != null" >
        Hobby10 = #{record.hobby10,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hobby
    set id = #{record.id,jdbcType=INTEGER},
      projectName = #{record.projectname,jdbcType=VARCHAR},
      oldMan_id = #{record.oldmanId,jdbcType=INTEGER},
      Hobby1 = #{record.hobby1,jdbcType=VARCHAR},
      Hobby2 = #{record.hobby2,jdbcType=VARCHAR},
      Hobby3 = #{record.hobby3,jdbcType=VARCHAR},
      Hobby4 = #{record.hobby4,jdbcType=VARCHAR},
      Hobby5 = #{record.hobby5,jdbcType=VARCHAR},
      Hobby6 = #{record.hobby6,jdbcType=VARCHAR},
      Hobby7 = #{record.hobby7,jdbcType=VARCHAR},
      Hobby8 = #{record.hobby8,jdbcType=VARCHAR},
      Hobby9 = #{record.hobby9,jdbcType=VARCHAR},
      Hobby10 = #{record.hobby10,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.older.manager.bean.Hobby" >
    update hobby
    <set >
      <if test="projectname != null" >
        projectName = #{projectname,jdbcType=VARCHAR},
      </if>
      <if test="oldmanId != null" >
        oldMan_id = #{oldmanId,jdbcType=INTEGER},
      </if>
      <if test="hobby1 != null" >
        Hobby1 = #{hobby1,jdbcType=VARCHAR},
      </if>
      <if test="hobby2 != null" >
        Hobby2 = #{hobby2,jdbcType=VARCHAR},
      </if>
      <if test="hobby3 != null" >
        Hobby3 = #{hobby3,jdbcType=VARCHAR},
      </if>
      <if test="hobby4 != null" >
        Hobby4 = #{hobby4,jdbcType=VARCHAR},
      </if>
      <if test="hobby5 != null" >
        Hobby5 = #{hobby5,jdbcType=VARCHAR},
      </if>
      <if test="hobby6 != null" >
        Hobby6 = #{hobby6,jdbcType=VARCHAR},
      </if>
      <if test="hobby7 != null" >
        Hobby7 = #{hobby7,jdbcType=VARCHAR},
      </if>
      <if test="hobby8 != null" >
        Hobby8 = #{hobby8,jdbcType=VARCHAR},
      </if>
      <if test="hobby9 != null" >
        Hobby9 = #{hobby9,jdbcType=VARCHAR},
      </if>
      <if test="hobby10 != null" >
        Hobby10 = #{hobby10,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.older.manager.bean.Hobby" >
    update hobby
    set projectName = #{projectname,jdbcType=VARCHAR},
      oldMan_id = #{oldmanId,jdbcType=INTEGER},
      Hobby1 = #{hobby1,jdbcType=VARCHAR},
      Hobby2 = #{hobby2,jdbcType=VARCHAR},
      Hobby3 = #{hobby3,jdbcType=VARCHAR},
      Hobby4 = #{hobby4,jdbcType=VARCHAR},
      Hobby5 = #{hobby5,jdbcType=VARCHAR},
      Hobby6 = #{hobby6,jdbcType=VARCHAR},
      Hobby7 = #{hobby7,jdbcType=VARCHAR},
      Hobby8 = #{hobby8,jdbcType=VARCHAR},
      Hobby9 = #{hobby9,jdbcType=VARCHAR},
      Hobby10 = #{hobby10,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>