<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.older.manager.mapper.OrderdetailMapper" >
  <resultMap id="BaseResultMap" type="com.older.manager.bean.Orderdetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="detial_number" property="detialNumber" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="produccts_id" property="producctsId" jdbcType="INTEGER" />
    <result column="producctName" property="producctname" jdbcType="VARCHAR" />
    <result column="basePrice" property="baseprice" jdbcType="DOUBLE" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="orderDetail1" property="orderdetail1" jdbcType="VARCHAR" />
    <result column="orderDetail2" property="orderdetail2" jdbcType="VARCHAR" />
    <result column="orderDetail3" property="orderdetail3" jdbcType="VARCHAR" />
    <result column="orderDetail4" property="orderdetail4" jdbcType="VARCHAR" />
    <result column="orderDetail5" property="orderdetail5" jdbcType="VARCHAR" />
    <result column="orderDetail6" property="orderdetail6" jdbcType="VARCHAR" />
    <result column="orderDetail7" property="orderdetail7" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, detial_number, order_id, produccts_id, producctName, basePrice, number, orderDetail1, 
    orderDetail2, orderDetail3, orderDetail4, orderDetail5, orderDetail6, orderDetail7
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.older.manager.bean.OrderdetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orderdetail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from orderdetail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from orderdetail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.older.manager.bean.OrderdetailExample" >
    delete from orderdetail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.older.manager.bean.Orderdetail" >
    insert into orderdetail (id, detial_number, order_id, 
      produccts_id, producctName, basePrice, 
      number, orderDetail1, orderDetail2, 
      orderDetail3, orderDetail4, orderDetail5, 
      orderDetail6, orderDetail7)
    values (#{id,jdbcType=INTEGER}, #{detialNumber,jdbcType=VARCHAR}, #{orderId,jdbcType=INTEGER}, 
      #{producctsId,jdbcType=INTEGER}, #{producctname,jdbcType=VARCHAR}, #{baseprice,jdbcType=DOUBLE}, 
      #{number,jdbcType=INTEGER}, #{orderdetail1,jdbcType=VARCHAR}, #{orderdetail2,jdbcType=VARCHAR}, 
      #{orderdetail3,jdbcType=VARCHAR}, #{orderdetail4,jdbcType=VARCHAR}, #{orderdetail5,jdbcType=VARCHAR}, 
      #{orderdetail6,jdbcType=VARCHAR}, #{orderdetail7,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.older.manager.bean.Orderdetail" >
    insert into orderdetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="detialNumber != null" >
        detial_number,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="producctsId != null" >
        produccts_id,
      </if>
      <if test="producctname != null" >
        producctName,
      </if>
      <if test="baseprice != null" >
        basePrice,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="orderdetail1 != null" >
        orderDetail1,
      </if>
      <if test="orderdetail2 != null" >
        orderDetail2,
      </if>
      <if test="orderdetail3 != null" >
        orderDetail3,
      </if>
      <if test="orderdetail4 != null" >
        orderDetail4,
      </if>
      <if test="orderdetail5 != null" >
        orderDetail5,
      </if>
      <if test="orderdetail6 != null" >
        orderDetail6,
      </if>
      <if test="orderdetail7 != null" >
        orderDetail7,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="detialNumber != null" >
        #{detialNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="producctsId != null" >
        #{producctsId,jdbcType=INTEGER},
      </if>
      <if test="producctname != null" >
        #{producctname,jdbcType=VARCHAR},
      </if>
      <if test="baseprice != null" >
        #{baseprice,jdbcType=DOUBLE},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="orderdetail1 != null" >
        #{orderdetail1,jdbcType=VARCHAR},
      </if>
      <if test="orderdetail2 != null" >
        #{orderdetail2,jdbcType=VARCHAR},
      </if>
      <if test="orderdetail3 != null" >
        #{orderdetail3,jdbcType=VARCHAR},
      </if>
      <if test="orderdetail4 != null" >
        #{orderdetail4,jdbcType=VARCHAR},
      </if>
      <if test="orderdetail5 != null" >
        #{orderdetail5,jdbcType=VARCHAR},
      </if>
      <if test="orderdetail6 != null" >
        #{orderdetail6,jdbcType=VARCHAR},
      </if>
      <if test="orderdetail7 != null" >
        #{orderdetail7,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.older.manager.bean.OrderdetailExample" resultType="java.lang.Integer" >
    select count(*) from orderdetail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update orderdetail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.detialNumber != null" >
        detial_number = #{record.detialNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.producctsId != null" >
        produccts_id = #{record.producctsId,jdbcType=INTEGER},
      </if>
      <if test="record.producctname != null" >
        producctName = #{record.producctname,jdbcType=VARCHAR},
      </if>
      <if test="record.baseprice != null" >
        basePrice = #{record.baseprice,jdbcType=DOUBLE},
      </if>
      <if test="record.number != null" >
        number = #{record.number,jdbcType=INTEGER},
      </if>
      <if test="record.orderdetail1 != null" >
        orderDetail1 = #{record.orderdetail1,jdbcType=VARCHAR},
      </if>
      <if test="record.orderdetail2 != null" >
        orderDetail2 = #{record.orderdetail2,jdbcType=VARCHAR},
      </if>
      <if test="record.orderdetail3 != null" >
        orderDetail3 = #{record.orderdetail3,jdbcType=VARCHAR},
      </if>
      <if test="record.orderdetail4 != null" >
        orderDetail4 = #{record.orderdetail4,jdbcType=VARCHAR},
      </if>
      <if test="record.orderdetail5 != null" >
        orderDetail5 = #{record.orderdetail5,jdbcType=VARCHAR},
      </if>
      <if test="record.orderdetail6 != null" >
        orderDetail6 = #{record.orderdetail6,jdbcType=VARCHAR},
      </if>
      <if test="record.orderdetail7 != null" >
        orderDetail7 = #{record.orderdetail7,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update orderdetail
    set id = #{record.id,jdbcType=INTEGER},
      detial_number = #{record.detialNumber,jdbcType=VARCHAR},
      order_id = #{record.orderId,jdbcType=INTEGER},
      produccts_id = #{record.producctsId,jdbcType=INTEGER},
      producctName = #{record.producctname,jdbcType=VARCHAR},
      basePrice = #{record.baseprice,jdbcType=DOUBLE},
      number = #{record.number,jdbcType=INTEGER},
      orderDetail1 = #{record.orderdetail1,jdbcType=VARCHAR},
      orderDetail2 = #{record.orderdetail2,jdbcType=VARCHAR},
      orderDetail3 = #{record.orderdetail3,jdbcType=VARCHAR},
      orderDetail4 = #{record.orderdetail4,jdbcType=VARCHAR},
      orderDetail5 = #{record.orderdetail5,jdbcType=VARCHAR},
      orderDetail6 = #{record.orderdetail6,jdbcType=VARCHAR},
      orderDetail7 = #{record.orderdetail7,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.older.manager.bean.Orderdetail" >
    update orderdetail
    <set >
      <if test="detialNumber != null" >
        detial_number = #{detialNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="producctsId != null" >
        produccts_id = #{producctsId,jdbcType=INTEGER},
      </if>
      <if test="producctname != null" >
        producctName = #{producctname,jdbcType=VARCHAR},
      </if>
      <if test="baseprice != null" >
        basePrice = #{baseprice,jdbcType=DOUBLE},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="orderdetail1 != null" >
        orderDetail1 = #{orderdetail1,jdbcType=VARCHAR},
      </if>
      <if test="orderdetail2 != null" >
        orderDetail2 = #{orderdetail2,jdbcType=VARCHAR},
      </if>
      <if test="orderdetail3 != null" >
        orderDetail3 = #{orderdetail3,jdbcType=VARCHAR},
      </if>
      <if test="orderdetail4 != null" >
        orderDetail4 = #{orderdetail4,jdbcType=VARCHAR},
      </if>
      <if test="orderdetail5 != null" >
        orderDetail5 = #{orderdetail5,jdbcType=VARCHAR},
      </if>
      <if test="orderdetail6 != null" >
        orderDetail6 = #{orderdetail6,jdbcType=VARCHAR},
      </if>
      <if test="orderdetail7 != null" >
        orderDetail7 = #{orderdetail7,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.older.manager.bean.Orderdetail" >
    update orderdetail
    set detial_number = #{detialNumber,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=INTEGER},
      produccts_id = #{producctsId,jdbcType=INTEGER},
      producctName = #{producctname,jdbcType=VARCHAR},
      basePrice = #{baseprice,jdbcType=DOUBLE},
      number = #{number,jdbcType=INTEGER},
      orderDetail1 = #{orderdetail1,jdbcType=VARCHAR},
      orderDetail2 = #{orderdetail2,jdbcType=VARCHAR},
      orderDetail3 = #{orderdetail3,jdbcType=VARCHAR},
      orderDetail4 = #{orderdetail4,jdbcType=VARCHAR},
      orderDetail5 = #{orderdetail5,jdbcType=VARCHAR},
      orderDetail6 = #{orderdetail6,jdbcType=VARCHAR},
      orderDetail7 = #{orderdetail7,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>