<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.older.manager.mapper.ProductCommentMapper" >
  <resultMap id="BaseResultMap" type="com.older.manager.bean.ProductComment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="users_id" property="usersId" jdbcType="INTEGER" />
    <result column="ordersdetail_id" property="ordersdetailId" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="grade" property="grade" jdbcType="INTEGER" />
    <result column="imageUrl" property="imageurl" jdbcType="VARCHAR" />
    <result column="anonymity" property="anonymity" jdbcType="INTEGER" />
    <result column="param1" property="param1" jdbcType="VARCHAR" />
    <result column="param2" property="param2" jdbcType="VARCHAR" />
    <result column="param3" property="param3" jdbcType="VARCHAR" />
    <result column="param4" property="param4" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, users_id, ordersdetail_id, content, createTime, grade, imageUrl, anonymity, param1, 
    param2, param3, param4
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.older.manager.bean.ProductCommentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from productcomment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from productcomment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from productcomment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.older.manager.bean.ProductCommentExample" >
    delete from productcomment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.older.manager.bean.ProductComment" >
    insert into productcomment (id, users_id, ordersdetail_id, 
      content, createTime, grade, 
      imageUrl, anonymity, param1, 
      param2, param3, param4
      )
    values (#{id,jdbcType=INTEGER}, #{usersId,jdbcType=INTEGER}, #{ordersdetailId,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{grade,jdbcType=INTEGER}, 
      #{imageurl,jdbcType=VARCHAR}, #{anonymity,jdbcType=INTEGER}, #{param1,jdbcType=VARCHAR}, 
      #{param2,jdbcType=VARCHAR}, #{param3,jdbcType=VARCHAR}, #{param4,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.older.manager.bean.ProductComment" >
    insert into productcomment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="usersId != null" >
        users_id,
      </if>
      <if test="ordersdetailId != null" >
        ordersdetail_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="imageurl != null" >
        imageUrl,
      </if>
      <if test="anonymity != null" >
        anonymity,
      </if>
      <if test="param1 != null" >
        param1,
      </if>
      <if test="param2 != null" >
        param2,
      </if>
      <if test="param3 != null" >
        param3,
      </if>
      <if test="param4 != null" >
        param4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="usersId != null" >
        #{usersId,jdbcType=INTEGER},
      </if>
      <if test="ordersdetailId != null" >
        #{ordersdetailId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=INTEGER},
      </if>
      <if test="imageurl != null" >
        #{imageurl,jdbcType=VARCHAR},
      </if>
      <if test="anonymity != null" >
        #{anonymity,jdbcType=INTEGER},
      </if>
      <if test="param1 != null" >
        #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null" >
        #{param2,jdbcType=VARCHAR},
      </if>
      <if test="param3 != null" >
        #{param3,jdbcType=VARCHAR},
      </if>
      <if test="param4 != null" >
        #{param4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.older.manager.bean.ProductCommentExample" resultType="java.lang.Integer" >
    select count(*) from productcomment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update productcomment
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.usersId != null" >
        users_id = #{record.usersId,jdbcType=INTEGER},
      </if>
      <if test="record.ordersdetailId != null" >
        ordersdetail_id = #{record.ordersdetailId,jdbcType=INTEGER},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.grade != null" >
        grade = #{record.grade,jdbcType=INTEGER},
      </if>
      <if test="record.imageurl != null" >
        imageUrl = #{record.imageurl,jdbcType=VARCHAR},
      </if>
      <if test="record.anonymity != null" >
        anonymity = #{record.anonymity,jdbcType=INTEGER},
      </if>
      <if test="record.param1 != null" >
        param1 = #{record.param1,jdbcType=VARCHAR},
      </if>
      <if test="record.param2 != null" >
        param2 = #{record.param2,jdbcType=VARCHAR},
      </if>
      <if test="record.param3 != null" >
        param3 = #{record.param3,jdbcType=VARCHAR},
      </if>
      <if test="record.param4 != null" >
        param4 = #{record.param4,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update productcomment
    set id = #{record.id,jdbcType=INTEGER},
      users_id = #{record.usersId,jdbcType=INTEGER},
      ordersdetail_id = #{record.ordersdetailId,jdbcType=INTEGER},
      content = #{record.content,jdbcType=VARCHAR},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      grade = #{record.grade,jdbcType=INTEGER},
      imageUrl = #{record.imageurl,jdbcType=VARCHAR},
      anonymity = #{record.anonymity,jdbcType=INTEGER},
      param1 = #{record.param1,jdbcType=VARCHAR},
      param2 = #{record.param2,jdbcType=VARCHAR},
      param3 = #{record.param3,jdbcType=VARCHAR},
      param4 = #{record.param4,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.older.manager.bean.ProductComment" >
    update productcomment
    <set >
      <if test="usersId != null" >
        users_id = #{usersId,jdbcType=INTEGER},
      </if>
      <if test="ordersdetailId != null" >
        ordersdetail_id = #{ordersdetailId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=INTEGER},
      </if>
      <if test="imageurl != null" >
        imageUrl = #{imageurl,jdbcType=VARCHAR},
      </if>
      <if test="anonymity != null" >
        anonymity = #{anonymity,jdbcType=INTEGER},
      </if>
      <if test="param1 != null" >
        param1 = #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null" >
        param2 = #{param2,jdbcType=VARCHAR},
      </if>
      <if test="param3 != null" >
        param3 = #{param3,jdbcType=VARCHAR},
      </if>
      <if test="param4 != null" >
        param4 = #{param4,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.older.manager.bean.ProductComment" >
    update productcomment
    set users_id = #{usersId,jdbcType=INTEGER},
      ordersdetail_id = #{ordersdetailId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      grade = #{grade,jdbcType=INTEGER},
      imageUrl = #{imageurl,jdbcType=VARCHAR},
      anonymity = #{anonymity,jdbcType=INTEGER},
      param1 = #{param1,jdbcType=VARCHAR},
      param2 = #{param2,jdbcType=VARCHAR},
      param3 = #{param3,jdbcType=VARCHAR},
      param4 = #{param4,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>