<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.older.manager.mapper.ProductsMapper">
	<resultMap id="BaseResultMap" type="com.older.manager.bean.Products">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="number" property="number" jdbcType="VARCHAR" />
		<result column="orPrice" property="orprice" jdbcType="DOUBLE" />
		<result column="region" property="region" jdbcType="VARCHAR" />
		<result column="nowPrice" property="nowprice" jdbcType="DOUBLE" />
		<result column="addTime" property="addtime" jdbcType="TIMESTAMP" />
		<result column="auditStatus" property="auditstatus" jdbcType="INTEGER" />
		<result column="state" property="state" jdbcType="INTEGER" />
		<result column="imageTitle" property="imagetitle" jdbcType="VARCHAR" />
		<result column="placeOrigin" property="placeorigin" jdbcType="VARCHAR" />
		<result column="type_id" property="typeId" jdbcType="INTEGER" />
		<result column="brand_id" property="brandId" jdbcType="INTEGER" />
		<result column="texture" property="texture" jdbcType="VARCHAR" />
		<result column="weight" property="weight" jdbcType="DOUBLE" />
		<result column="unit" property="unit" jdbcType="VARCHAR" />
		<result column="synopsis" property="synopsis" jdbcType="VARCHAR" />
		<result column="images" property="images" jdbcType="LONGVARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="inventory" property="inventory" jdbcType="INTEGER" />
		<result column="sales" property="sales" jdbcType="INTEGER" />
		<result column="paral1" property="paral1" jdbcType="VARCHAR" />
		<result column="paral2" property="paral2" jdbcType="VARCHAR" />
		<result column="paral3" property="paral3" jdbcType="VARCHAR" />
		<result column="paral4" property="paral4" jdbcType="VARCHAR" />
		<result column="paral5" property="paral5" jdbcType="VARCHAR" />
		<result column="paral6" property="paral6" jdbcType="VARCHAR" />
		<result column="paral7" property="paral7" jdbcType="VARCHAR" />
		<result column="paral8" property="paral8" jdbcType="VARCHAR" />
		<result column="paral9" property="paral9" jdbcType="VARCHAR" />
		<result column="paral10" property="paral10" jdbcType="VARCHAR" />
		<result column="paral11" property="paral11" jdbcType="DOUBLE" />
		<result column="paral12" property="paral12" jdbcType="DOUBLE" />
		<result column="paral13" property="paral13" jdbcType="DOUBLE" />
		<result column="paral14" property="paral14" jdbcType="DOUBLE" />
		<result column="paral15" property="paral15" jdbcType="DOUBLE" />
		<result column="paral16" property="paral16" jdbcType="DOUBLE" />
		<result column="paral17" property="paral17" jdbcType="DOUBLE" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, name, number, orPrice, region, nowPrice, addTime, auditStatus, state,
		imageTitle,
		placeOrigin, type_id, brand_id, texture, weight, unit, synopsis, images,
		description,
		inventory, sales, paral1, paral2, paral3, paral4, paral5, paral6, paral7,
		paral8,
		paral9, paral10, paral11, paral12, paral13, paral14, paral15, paral16,
		paral17
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.older.manager.bean.ProductsExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from products
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from products
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from products
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="com.older.manager.bean.ProductsExample">
		delete from products
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.older.manager.bean.Products">
		insert into products (id, name, number,
		orPrice, region, nowPrice,
		addTime, auditStatus, state,
		imageTitle, placeOrigin, type_id,
		brand_id, texture, weight,
		unit, synopsis, images,
		description, inventory, sales,
		paral1, paral2, paral3,
		paral4, paral5, paral6,
		paral7, paral8, paral9,
		paral10, paral11, paral12,
		paral13, paral14, paral15,
		paral16, paral17)
		values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{number,jdbcType=VARCHAR},
		#{orprice,jdbcType=DOUBLE}, #{region,jdbcType=VARCHAR}, #{nowprice,jdbcType=DOUBLE},
		#{addtime,jdbcType=TIMESTAMP}, #{auditstatus,jdbcType=INTEGER},
		#{state,jdbcType=INTEGER},
		#{imagetitle,jdbcType=VARCHAR}, #{placeorigin,jdbcType=VARCHAR}, #{typeId,jdbcType=INTEGER},
		#{brandId,jdbcType=INTEGER}, #{texture,jdbcType=VARCHAR},
		#{weight,jdbcType=DOUBLE},
		#{unit,jdbcType=VARCHAR}, #{synopsis,jdbcType=VARCHAR}, #{images,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR}, #{inventory,jdbcType=INTEGER},
		#{sales,jdbcType=INTEGER},
		#{paral1,jdbcType=VARCHAR}, #{paral2,jdbcType=VARCHAR}, #{paral3,jdbcType=VARCHAR},
		#{paral4,jdbcType=VARCHAR}, #{paral5,jdbcType=VARCHAR},
		#{paral6,jdbcType=VARCHAR},
		#{paral7,jdbcType=VARCHAR}, #{paral8,jdbcType=VARCHAR}, #{paral9,jdbcType=VARCHAR},
		#{paral10,jdbcType=VARCHAR}, #{paral11,jdbcType=DOUBLE},
		#{paral12,jdbcType=DOUBLE},
		#{paral13,jdbcType=DOUBLE}, #{paral14,jdbcType=DOUBLE}, #{paral15,jdbcType=DOUBLE},
		#{paral16,jdbcType=DOUBLE}, #{paral17,jdbcType=DOUBLE})
	</insert>
	<insert id="insertSelective" parameterType="com.older.manager.bean.Products">
		insert into products
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="number != null">
				number,
			</if>
			<if test="orprice != null">
				orPrice,
			</if>
			<if test="region != null">
				region,
			</if>
			<if test="nowprice != null">
				nowPrice,
			</if>
			<if test="addtime != null">
				addTime,
			</if>
			<if test="auditstatus != null">
				auditStatus,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="imagetitle != null">
				imageTitle,
			</if>
			<if test="placeorigin != null">
				placeOrigin,
			</if>
			<if test="typeId != null">
				type_id,
			</if>
			<if test="brandId != null">
				brand_id,
			</if>
			<if test="texture != null">
				texture,
			</if>
			<if test="weight != null">
				weight,
			</if>
			<if test="unit != null">
				unit,
			</if>
			<if test="synopsis != null">
				synopsis,
			</if>
			<if test="images != null">
				images,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="inventory != null">
				inventory,
			</if>
			<if test="sales != null">
				sales,
			</if>
			<if test="paral1 != null">
				paral1,
			</if>
			<if test="paral2 != null">
				paral2,
			</if>
			<if test="paral3 != null">
				paral3,
			</if>
			<if test="paral4 != null">
				paral4,
			</if>
			<if test="paral5 != null">
				paral5,
			</if>
			<if test="paral6 != null">
				paral6,
			</if>
			<if test="paral7 != null">
				paral7,
			</if>
			<if test="paral8 != null">
				paral8,
			</if>
			<if test="paral9 != null">
				paral9,
			</if>
			<if test="paral10 != null">
				paral10,
			</if>
			<if test="paral11 != null">
				paral11,
			</if>
			<if test="paral12 != null">
				paral12,
			</if>
			<if test="paral13 != null">
				paral13,
			</if>
			<if test="paral14 != null">
				paral14,
			</if>
			<if test="paral15 != null">
				paral15,
			</if>
			<if test="paral16 != null">
				paral16,
			</if>
			<if test="paral17 != null">
				paral17,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="number != null">
				#{number,jdbcType=VARCHAR},
			</if>
			<if test="orprice != null">
				#{orprice,jdbcType=DOUBLE},
			</if>
			<if test="region != null">
				#{region,jdbcType=VARCHAR},
			</if>
			<if test="nowprice != null">
				#{nowprice,jdbcType=DOUBLE},
			</if>
			<if test="addtime != null">
				#{addtime,jdbcType=TIMESTAMP},
			</if>
			<if test="auditstatus != null">
				#{auditstatus,jdbcType=INTEGER},
			</if>
			<if test="state != null">
				#{state,jdbcType=INTEGER},
			</if>
			<if test="imagetitle != null">
				#{imagetitle,jdbcType=VARCHAR},
			</if>
			<if test="placeorigin != null">
				#{placeorigin,jdbcType=VARCHAR},
			</if>
			<if test="typeId != null">
				#{typeId,jdbcType=INTEGER},
			</if>
			<if test="brandId != null">
				#{brandId,jdbcType=INTEGER},
			</if>
			<if test="texture != null">
				#{texture,jdbcType=VARCHAR},
			</if>
			<if test="weight != null">
				#{weight,jdbcType=DOUBLE},
			</if>
			<if test="unit != null">
				#{unit,jdbcType=VARCHAR},
			</if>
			<if test="synopsis != null">
				#{synopsis,jdbcType=VARCHAR},
			</if>
			<if test="images != null">
				#{images,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="inventory != null">
				#{inventory,jdbcType=INTEGER},
			</if>
			<if test="sales != null">
				#{sales,jdbcType=INTEGER},
			</if>
			<if test="paral1 != null">
				#{paral1,jdbcType=VARCHAR},
			</if>
			<if test="paral2 != null">
				#{paral2,jdbcType=VARCHAR},
			</if>
			<if test="paral3 != null">
				#{paral3,jdbcType=VARCHAR},
			</if>
			<if test="paral4 != null">
				#{paral4,jdbcType=VARCHAR},
			</if>
			<if test="paral5 != null">
				#{paral5,jdbcType=VARCHAR},
			</if>
			<if test="paral6 != null">
				#{paral6,jdbcType=VARCHAR},
			</if>
			<if test="paral7 != null">
				#{paral7,jdbcType=VARCHAR},
			</if>
			<if test="paral8 != null">
				#{paral8,jdbcType=VARCHAR},
			</if>
			<if test="paral9 != null">
				#{paral9,jdbcType=VARCHAR},
			</if>
			<if test="paral10 != null">
				#{paral10,jdbcType=VARCHAR},
			</if>
			<if test="paral11 != null">
				#{paral11,jdbcType=DOUBLE},
			</if>
			<if test="paral12 != null">
				#{paral12,jdbcType=DOUBLE},
			</if>
			<if test="paral13 != null">
				#{paral13,jdbcType=DOUBLE},
			</if>
			<if test="paral14 != null">
				#{paral14,jdbcType=DOUBLE},
			</if>
			<if test="paral15 != null">
				#{paral15,jdbcType=DOUBLE},
			</if>
			<if test="paral16 != null">
				#{paral16,jdbcType=DOUBLE},
			</if>
			<if test="paral17 != null">
				#{paral17,jdbcType=DOUBLE},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.older.manager.bean.ProductsExample"
		resultType="java.lang.Integer">
		select count(*) from products
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update products
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.name != null">
				name = #{record.name,jdbcType=VARCHAR},
			</if>
			<if test="record.number != null">
				number = #{record.number,jdbcType=VARCHAR},
			</if>
			<if test="record.orprice != null">
				orPrice = #{record.orprice,jdbcType=DOUBLE},
			</if>
			<if test="record.region != null">
				region = #{record.region,jdbcType=VARCHAR},
			</if>
			<if test="record.nowprice != null">
				nowPrice = #{record.nowprice,jdbcType=DOUBLE},
			</if>
			<if test="record.addtime != null">
				addTime = #{record.addtime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.auditstatus != null">
				auditStatus = #{record.auditstatus,jdbcType=INTEGER},
			</if>
			<if test="record.state != null">
				state = #{record.state,jdbcType=INTEGER},
			</if>
			<if test="record.imagetitle != null">
				imageTitle = #{record.imagetitle,jdbcType=VARCHAR},
			</if>
			<if test="record.placeorigin != null">
				placeOrigin = #{record.placeorigin,jdbcType=VARCHAR},
			</if>
			<if test="record.typeId != null">
				type_id = #{record.typeId,jdbcType=INTEGER},
			</if>
			<if test="record.brandId != null">
				brand_id = #{record.brandId,jdbcType=INTEGER},
			</if>
			<if test="record.texture != null">
				texture = #{record.texture,jdbcType=VARCHAR},
			</if>
			<if test="record.weight != null">
				weight = #{record.weight,jdbcType=DOUBLE},
			</if>
			<if test="record.unit != null">
				unit = #{record.unit,jdbcType=VARCHAR},
			</if>
			<if test="record.synopsis != null">
				synopsis = #{record.synopsis,jdbcType=VARCHAR},
			</if>
			<if test="record.images != null">
				images = #{record.images,jdbcType=VARCHAR},
			</if>
			<if test="record.description != null">
				description = #{record.description,jdbcType=VARCHAR},
			</if>
			<if test="record.inventory != null">
				inventory = #{record.inventory,jdbcType=INTEGER},
			</if>
			<if test="record.sales != null">
				sales = #{record.sales,jdbcType=INTEGER},
			</if>
			<if test="record.paral1 != null">
				paral1 = #{record.paral1,jdbcType=VARCHAR},
			</if>
			<if test="record.paral2 != null">
				paral2 = #{record.paral2,jdbcType=VARCHAR},
			</if>
			<if test="record.paral3 != null">
				paral3 = #{record.paral3,jdbcType=VARCHAR},
			</if>
			<if test="record.paral4 != null">
				paral4 = #{record.paral4,jdbcType=VARCHAR},
			</if>
			<if test="record.paral5 != null">
				paral5 = #{record.paral5,jdbcType=VARCHAR},
			</if>
			<if test="record.paral6 != null">
				paral6 = #{record.paral6,jdbcType=VARCHAR},
			</if>
			<if test="record.paral7 != null">
				paral7 = #{record.paral7,jdbcType=VARCHAR},
			</if>
			<if test="record.paral8 != null">
				paral8 = #{record.paral8,jdbcType=VARCHAR},
			</if>
			<if test="record.paral9 != null">
				paral9 = #{record.paral9,jdbcType=VARCHAR},
			</if>
			<if test="record.paral10 != null">
				paral10 = #{record.paral10,jdbcType=VARCHAR},
			</if>
			<if test="record.paral11 != null">
				paral11 = #{record.paral11,jdbcType=DOUBLE},
			</if>
			<if test="record.paral12 != null">
				paral12 = #{record.paral12,jdbcType=DOUBLE},
			</if>
			<if test="record.paral13 != null">
				paral13 = #{record.paral13,jdbcType=DOUBLE},
			</if>
			<if test="record.paral14 != null">
				paral14 = #{record.paral14,jdbcType=DOUBLE},
			</if>
			<if test="record.paral15 != null">
				paral15 = #{record.paral15,jdbcType=DOUBLE},
			</if>
			<if test="record.paral16 != null">
				paral16 = #{record.paral16,jdbcType=DOUBLE},
			</if>
			<if test="record.paral17 != null">
				paral17 = #{record.paral17,jdbcType=DOUBLE},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update products
		set id = #{record.id,jdbcType=INTEGER},
		name = #{record.name,jdbcType=VARCHAR},
		number = #{record.number,jdbcType=VARCHAR},
		orPrice = #{record.orprice,jdbcType=DOUBLE},
		region = #{record.region,jdbcType=VARCHAR},
		nowPrice = #{record.nowprice,jdbcType=DOUBLE},
		addTime = #{record.addtime,jdbcType=TIMESTAMP},
		auditStatus = #{record.auditstatus,jdbcType=INTEGER},
		state = #{record.state,jdbcType=INTEGER},
		imageTitle = #{record.imagetitle,jdbcType=VARCHAR},
		placeOrigin = #{record.placeorigin,jdbcType=VARCHAR},
		type_id = #{record.typeId,jdbcType=INTEGER},
		brand_id = #{record.brandId,jdbcType=INTEGER},
		texture = #{record.texture,jdbcType=VARCHAR},
		weight = #{record.weight,jdbcType=DOUBLE},
		unit = #{record.unit,jdbcType=VARCHAR},
		synopsis = #{record.synopsis,jdbcType=VARCHAR},
		images = #{record.images,jdbcType=VARCHAR},
		description = #{record.description,jdbcType=VARCHAR},
		inventory = #{record.inventory,jdbcType=INTEGER},
		sales = #{record.sales,jdbcType=INTEGER},
		paral1 = #{record.paral1,jdbcType=VARCHAR},
		paral2 = #{record.paral2,jdbcType=VARCHAR},
		paral3 = #{record.paral3,jdbcType=VARCHAR},
		paral4 = #{record.paral4,jdbcType=VARCHAR},
		paral5 = #{record.paral5,jdbcType=VARCHAR},
		paral6 = #{record.paral6,jdbcType=VARCHAR},
		paral7 = #{record.paral7,jdbcType=VARCHAR},
		paral8 = #{record.paral8,jdbcType=VARCHAR},
		paral9 = #{record.paral9,jdbcType=VARCHAR},
		paral10 = #{record.paral10,jdbcType=VARCHAR},
		paral11 = #{record.paral11,jdbcType=DOUBLE},
		paral12 = #{record.paral12,jdbcType=DOUBLE},
		paral13 = #{record.paral13,jdbcType=DOUBLE},
		paral14 = #{record.paral14,jdbcType=DOUBLE},
		paral15 = #{record.paral15,jdbcType=DOUBLE},
		paral16 = #{record.paral16,jdbcType=DOUBLE},
		paral17 = #{record.paral17,jdbcType=DOUBLE}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.older.manager.bean.Products">
		update products
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="number != null">
				number = #{number,jdbcType=VARCHAR},
			</if>
			<if test="orprice != null">
				orPrice = #{orprice,jdbcType=DOUBLE},
			</if>
			<if test="region != null">
				region = #{region,jdbcType=VARCHAR},
			</if>
			<if test="nowprice != null">
				nowPrice = #{nowprice,jdbcType=DOUBLE},
			</if>
			<if test="addtime != null">
				addTime = #{addtime,jdbcType=TIMESTAMP},
			</if>
			<if test="auditstatus != null">
				auditStatus = #{auditstatus,jdbcType=INTEGER},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=INTEGER},
			</if>
			<if test="imagetitle != null">
				imageTitle = #{imagetitle,jdbcType=VARCHAR},
			</if>
			<if test="placeorigin != null">
				placeOrigin = #{placeorigin,jdbcType=VARCHAR},
			</if>
			<if test="typeId != null">
				type_id = #{typeId,jdbcType=INTEGER},
			</if>
			<if test="brandId != null">
				brand_id = #{brandId,jdbcType=INTEGER},
			</if>
			<if test="texture != null">
				texture = #{texture,jdbcType=VARCHAR},
			</if>
			<if test="weight != null">
				weight = #{weight,jdbcType=DOUBLE},
			</if>
			<if test="unit != null">
				unit = #{unit,jdbcType=VARCHAR},
			</if>
			<if test="synopsis != null">
				synopsis = #{synopsis,jdbcType=VARCHAR},
			</if>
			<if test="images != null">
				images = #{images,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="inventory != null">
				inventory = #{inventory,jdbcType=INTEGER},
			</if>
			<if test="sales != null">
				sales = #{sales,jdbcType=INTEGER},
			</if>
			<if test="paral1 != null">
				paral1 = #{paral1,jdbcType=VARCHAR},
			</if>
			<if test="paral2 != null">
				paral2 = #{paral2,jdbcType=VARCHAR},
			</if>
			<if test="paral3 != null">
				paral3 = #{paral3,jdbcType=VARCHAR},
			</if>
			<if test="paral4 != null">
				paral4 = #{paral4,jdbcType=VARCHAR},
			</if>
			<if test="paral5 != null">
				paral5 = #{paral5,jdbcType=VARCHAR},
			</if>
			<if test="paral6 != null">
				paral6 = #{paral6,jdbcType=VARCHAR},
			</if>
			<if test="paral7 != null">
				paral7 = #{paral7,jdbcType=VARCHAR},
			</if>
			<if test="paral8 != null">
				paral8 = #{paral8,jdbcType=VARCHAR},
			</if>
			<if test="paral9 != null">
				paral9 = #{paral9,jdbcType=VARCHAR},
			</if>
			<if test="paral10 != null">
				paral10 = #{paral10,jdbcType=VARCHAR},
			</if>
			<if test="paral11 != null">
				paral11 = #{paral11,jdbcType=DOUBLE},
			</if>
			<if test="paral12 != null">
				paral12 = #{paral12,jdbcType=DOUBLE},
			</if>
			<if test="paral13 != null">
				paral13 = #{paral13,jdbcType=DOUBLE},
			</if>
			<if test="paral14 != null">
				paral14 = #{paral14,jdbcType=DOUBLE},
			</if>
			<if test="paral15 != null">
				paral15 = #{paral15,jdbcType=DOUBLE},
			</if>
			<if test="paral16 != null">
				paral16 = #{paral16,jdbcType=DOUBLE},
			</if>
			<if test="paral17 != null">
				paral17 = #{paral17,jdbcType=DOUBLE},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.older.manager.bean.Products">
		update products
		set name = #{name,jdbcType=VARCHAR},
		number = #{number,jdbcType=VARCHAR},
		orPrice = #{orprice,jdbcType=DOUBLE},
		region = #{region,jdbcType=VARCHAR},
		nowPrice = #{nowprice,jdbcType=DOUBLE},
		addTime = #{addtime,jdbcType=TIMESTAMP},
		auditStatus = #{auditstatus,jdbcType=INTEGER},
		state = #{state,jdbcType=INTEGER},
		imageTitle = #{imagetitle,jdbcType=VARCHAR},
		placeOrigin = #{placeorigin,jdbcType=VARCHAR},
		type_id = #{typeId,jdbcType=INTEGER},
		brand_id = #{brandId,jdbcType=INTEGER},
		texture = #{texture,jdbcType=VARCHAR},
		weight = #{weight,jdbcType=DOUBLE},
		unit = #{unit,jdbcType=VARCHAR},
		synopsis = #{synopsis,jdbcType=VARCHAR},
		images = #{images,jdbcType=VARCHAR},
		description = #{description,jdbcType=VARCHAR},
		inventory = #{inventory,jdbcType=INTEGER},
		sales = #{sales,jdbcType=INTEGER},
		paral1 = #{paral1,jdbcType=VARCHAR},
		paral2 = #{paral2,jdbcType=VARCHAR},
		paral3 = #{paral3,jdbcType=VARCHAR},
		paral4 = #{paral4,jdbcType=VARCHAR},
		paral5 = #{paral5,jdbcType=VARCHAR},
		paral6 = #{paral6,jdbcType=VARCHAR},
		paral7 = #{paral7,jdbcType=VARCHAR},
		paral8 = #{paral8,jdbcType=VARCHAR},
		paral9 = #{paral9,jdbcType=VARCHAR},
		paral10 = #{paral10,jdbcType=VARCHAR},
		paral11 = #{paral11,jdbcType=DOUBLE},
		paral12 = #{paral12,jdbcType=DOUBLE},
		paral13 = #{paral13,jdbcType=DOUBLE},
		paral14 = #{paral14,jdbcType=DOUBLE},
		paral15 = #{paral15,jdbcType=DOUBLE},
		paral16 = #{paral16,jdbcType=DOUBLE},
		paral17 = #{paral17,jdbcType=DOUBLE}
		where id = #{id,jdbcType=INTEGER}
	</update>

	

	
<!--联合查询产品信息、产品类型、品牌信息、产品关键词信息ResultMap结果集  -->
<resultMap id="ResultMapWithTypeBrand" type="com.older.manager.bean.Products" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="orPrice" property="orprice" jdbcType="DOUBLE" />
    <result column="region" property="region" jdbcType="VARCHAR" />
    <result column="nowPrice" property="nowprice" jdbcType="DOUBLE" />
    <result column="addTime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="auditStatus" property="auditstatus" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="imageTitle" property="imagetitle" jdbcType="VARCHAR" />
    <result column="placeOrigin" property="placeorigin" jdbcType="VARCHAR" />
    <result column="brand_id" property="brandId" jdbcType="INTEGER" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="texture" property="texture" jdbcType="VARCHAR" />
    <result column="weight" property="weight" jdbcType="DOUBLE" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="synopsis" property="synopsis" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="inventory" property="inventory" jdbcType="INTEGER" />
    <result column="sales" property="sales" jdbcType="INTEGER" />
    <result column="images" property="images" jdbcType="LONGVARCHAR" />
    <collection property="brand" ofType="brandWithBLOBs">
    	<result column="brand_id" property="id" jdbcType="INTEGER" />
     	<result column="brandName" property="name" jdbcType="VARCHAR" />
    </collection>
    <collection property="productType" ofType="productType">
    	<result column="type_id" property="id" jdbcType="INTEGER" />
     	<result column="typeName" property="name" jdbcType="VARCHAR" />
    </collection>
    <collection property="productKeyword" ofType="productKeyword">
    	<result column="pkId" property="id" jdbcType="INTEGER" />
     	<result column="keyword" property="keyword" jdbcType="LONGVARCHAR" />
    </collection>
     
  </resultMap>
   
  <!--根据ID联合查询产品和关联的品牌信息和类型信息  -->
  <sql id="WithTypeBrand_Column_List" >
    p.id, p.name, p.number, p.orPrice, p.region, p.nowPrice, p.addTime, p.auditStatus, p.state, p.imageTitle, 
    p.placeOrigin, p.brand_id,p.type_id, p.texture, p.weight, p.unit, p.synopsis, p.description, p.inventory,
     p.sales,p.images,
    b.name brandName, pt.name typeName,
    pk.id pkId,pk.keyword
  </sql>
   
   <!--多条件模糊分页查询所有产品 -->
  <select id="selectByCondition" parameterType="com.older.manager.bean.Products"
		resultMap="ResultMapWithTypeBrand">
		select
		<include refid="WithTypeBrand_Column_List" />
		from products p,brand b,producttype pt,productKeyword pk
		where p.brand_id=b.id and p.type_id=pt.id and p.id=pk.product_id  
		
	    <if test="typeId!=null and typeId!=''">
			and p.type_id=#{typeId}
		</if>
		<if test="name!=null and name!=''">
			and p.name like '%${name}%'
		</if>
		<if test="addtime!=null and addtime1!=null">
			and p.addtime between #{addtime} and #{addtime1}
		</if>
		<if test="page!=null and limit!=null">
			limit #{page},#{limit}
		</if>
  </select>
   
   <!--根据id查询产品信息及关联的品牌信息、产品类型信息、关键词信息  -->
  <select id="selectWithTypeBrandByKey" parameterType="java.lang.Integer" resultMap="ResultMapWithTypeBrand">
  	select 
  	<include refid="WithTypeBrand_Column_List" />
  	from products p,brand b,producttype pt,productKeyword pk
  	where p.brand_id=b.id and p.type_id=pt.id and p.id=pk.product_id  and p.id = #{id,jdbcType=INTEGER}
  </select>
  
</mapper>