<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.older.manager.mapper.RecomProductsDetailsMapper">
	<resultMap id="BaseResultMap" type="com.older.manager.bean.RecomProductsDetails">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="recomProducts_id" property="recomproductsId"
			jdbcType="INTEGER" />
		<result column="recomTime" property="recomtime" jdbcType="TIMESTAMP" />
		<result column="number" property="number" jdbcType="INTEGER" />
		<result column="result" property="result" jdbcType="VARCHAR" />
		<result column="oldMan_id" property="oldmanId" jdbcType="INTEGER" />
		<result column="recomProductsDetails1" property="recomproductsdetails1"
			jdbcType="VARCHAR" />
		<result column="recomProductsDetails2" property="recomproductsdetails2"
			jdbcType="VARCHAR" />
		<result column="recomProductsDetails3" property="recomproductsdetails3"
			jdbcType="VARCHAR" />
		<result column="recomProductsDetails4" property="recomproductsdetails4"
			jdbcType="VARCHAR" />
		<result column="recomProductsDetails5" property="recomproductsdetails5"
			jdbcType="VARCHAR" />
		<result column="recomProductsDetails6" property="recomproductsdetails6"
			jdbcType="VARCHAR" />
		<result column="recomProductsDetails7" property="recomproductsdetails7"
			jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="detailResultMap" type="com.older.manager.bean.RecomProductsDetails">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="recomProducts_id" property="recomproductsId"
			jdbcType="INTEGER" />
		<result column="recomTime" property="recomtime" jdbcType="TIMESTAMP" />
		<result column="number" property="number" jdbcType="INTEGER" />
		<result column="result" property="result" jdbcType="VARCHAR" />
		<result column="oldMan_id" property="oldmanId" jdbcType="INTEGER" />
		<result column="recomProductsDetails1" property="recomproductsdetails1"
			jdbcType="VARCHAR" />
		<result column="recomProductsDetails2" property="recomproductsdetails2"
			jdbcType="VARCHAR" />
		<result column="recomProductsDetails3" property="recomproductsdetails3"
			jdbcType="VARCHAR" />
		<result column="recomProductsDetails4" property="recomproductsdetails4"
			jdbcType="VARCHAR" />
		<result column="recomProductsDetails5" property="recomproductsdetails5"
			jdbcType="VARCHAR" />
		<result column="recomProductsDetails6" property="recomproductsdetails6"
			jdbcType="VARCHAR" />
		<result column="recomProductsDetails7" property="recomproductsdetails7"
			jdbcType="VARCHAR" />
		<association property="oldman" column="oldMan_id"
			javaType="com.older.manager.bean.Oldman" select="com.older.manager.mapper.OldmanMapper.selectBaseInfoById" />
		<association property="recomProducts" column="recomProducts_id"
			javaType="com.older.manager.bean.RecomProducts"
			select="com.older.manager.mapper.RecomProductsMapper.selectBaseDataById" />
	</resultMap>
	<select id="selectDetailRecomProductsDetailsById" resultMap="detailResultMap"
		parameterType="java.lang.Integer">
		select * from recomproductsdetails
		where id =
		#{id,jdbcType=INTEGER}
	</select>
	<select id="selectAllDetailRecomProductsDetails" resultMap="detailResultMap">
		select * from recomproductsdetails
	</select>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, recomProducts_id, recomTime, number, result, oldMan_id,
		recomProductsDetails1,
		recomProductsDetails2, recomProductsDetails3,
		recomProductsDetails4, recomProductsDetails5,
		recomProductsDetails6,
		recomProductsDetails7
	</sql>
	<select id="selectByExample" resultMap="detailResultMap"
		parameterType="com.older.manager.bean.RecomProductsDetailsExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from recomproductsdetails
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByRecomProductsDetails" resultMap="detailResultMap"
		parameterType="com.older.manager.bean.RecomProductsDetails">
		select *
		from recomproductsdetails rd,oldman o,recomproducts r where rd.oldMan_id=o.id and rd.recomProducts_id=r.id
		<if test="oldman != null">
			<if test="oldman.name!=null and oldman.name!='' ">
				and o.name like '%${oldman.name}%'
			</if>
		</if>
		<if test="recomProducts!=null">
			<if test="recomProducts.recomPeople!=null and recomProducts.recomPeople!='' ">
				and r.recomPeople like '%${recomProducts.recomPeople}%'
			</if>
		</if>
		<if test="result!=null and result!=''">
				and rd.result =#{result}
		</if>
	</select>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from recomproductsdetails
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		recomproductsdetails
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="com.older.manager.bean.RecomProductsDetailsExample">
		delete from recomproductsdetails
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.older.manager.bean.RecomProductsDetails">
		insert into
		recomproductsdetails (id, recomProducts_id, recomTime,
		number, result,
		oldMan_id,
		recomProductsDetails1, recomProductsDetails2,
		recomProductsDetails3, recomProductsDetails4,
		recomProductsDetails5,
		recomProductsDetails6,
		recomProductsDetails7)
		values
		(#{id,jdbcType=INTEGER}, #{recomproductsId,jdbcType=INTEGER},
		#{recomtime,jdbcType=TIMESTAMP},
		#{number,jdbcType=INTEGER},
		#{result,jdbcType=VARCHAR}, #{oldmanId,jdbcType=INTEGER},
		#{recomproductsdetails1,jdbcType=VARCHAR},
		#{recomproductsdetails2,jdbcType=VARCHAR},
		#{recomproductsdetails3,jdbcType=VARCHAR},
		#{recomproductsdetails4,jdbcType=VARCHAR},
		#{recomproductsdetails5,jdbcType=VARCHAR},
		#{recomproductsdetails6,jdbcType=VARCHAR},
		#{recomproductsdetails7,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.older.manager.bean.RecomProductsDetails">
		insert into recomproductsdetails
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="recomproductsId != null">
				recomProducts_id,
			</if>
			<if test="recomtime != null">
				recomTime,
			</if>
			<if test="number != null">
				number,
			</if>
			<if test="result != null">
				result,
			</if>
			<if test="oldmanId != null">
				oldMan_id,
			</if>
			<if test="recomproductsdetails1 != null">
				recomProductsDetails1,
			</if>
			<if test="recomproductsdetails2 != null">
				recomProductsDetails2,
			</if>
			<if test="recomproductsdetails3 != null">
				recomProductsDetails3,
			</if>
			<if test="recomproductsdetails4 != null">
				recomProductsDetails4,
			</if>
			<if test="recomproductsdetails5 != null">
				recomProductsDetails5,
			</if>
			<if test="recomproductsdetails6 != null">
				recomProductsDetails6,
			</if>
			<if test="recomproductsdetails7 != null">
				recomProductsDetails7,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="recomproductsId != null">
				#{recomproductsId,jdbcType=INTEGER},
			</if>
			<if test="recomtime != null">
				#{recomtime,jdbcType=TIMESTAMP},
			</if>
			<if test="number != null">
				#{number,jdbcType=INTEGER},
			</if>
			<if test="result != null">
				#{result,jdbcType=VARCHAR},
			</if>
			<if test="oldmanId != null">
				#{oldmanId,jdbcType=INTEGER},
			</if>
			<if test="recomproductsdetails1 != null">
				#{recomproductsdetails1,jdbcType=VARCHAR},
			</if>
			<if test="recomproductsdetails2 != null">
				#{recomproductsdetails2,jdbcType=VARCHAR},
			</if>
			<if test="recomproductsdetails3 != null">
				#{recomproductsdetails3,jdbcType=VARCHAR},
			</if>
			<if test="recomproductsdetails4 != null">
				#{recomproductsdetails4,jdbcType=VARCHAR},
			</if>
			<if test="recomproductsdetails5 != null">
				#{recomproductsdetails5,jdbcType=VARCHAR},
			</if>
			<if test="recomproductsdetails6 != null">
				#{recomproductsdetails6,jdbcType=VARCHAR},
			</if>
			<if test="recomproductsdetails7 != null">
				#{recomproductsdetails7,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.older.manager.bean.RecomProductsDetailsExample"
		resultType="java.lang.Integer">
		select count(*) from recomproductsdetails
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update recomproductsdetails
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.recomproductsId != null">
				recomProducts_id =
				#{record.recomproductsId,jdbcType=INTEGER},
			</if>
			<if test="record.recomtime != null">
				recomTime = #{record.recomtime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.number != null">
				number = #{record.number,jdbcType=INTEGER},
			</if>
			<if test="record.result != null">
				result = #{record.result,jdbcType=VARCHAR},
			</if>
			<if test="record.oldmanId != null">
				oldMan_id = #{record.oldmanId,jdbcType=INTEGER},
			</if>
			<if test="record.recomproductsdetails1 != null">
				recomProductsDetails1 =
				#{record.recomproductsdetails1,jdbcType=VARCHAR},
			</if>
			<if test="record.recomproductsdetails2 != null">
				recomProductsDetails2 =
				#{record.recomproductsdetails2,jdbcType=VARCHAR},
			</if>
			<if test="record.recomproductsdetails3 != null">
				recomProductsDetails3 =
				#{record.recomproductsdetails3,jdbcType=VARCHAR},
			</if>
			<if test="record.recomproductsdetails4 != null">
				recomProductsDetails4 =
				#{record.recomproductsdetails4,jdbcType=VARCHAR},
			</if>
			<if test="record.recomproductsdetails5 != null">
				recomProductsDetails5 =
				#{record.recomproductsdetails5,jdbcType=VARCHAR},
			</if>
			<if test="record.recomproductsdetails6 != null">
				recomProductsDetails6 =
				#{record.recomproductsdetails6,jdbcType=VARCHAR},
			</if>
			<if test="record.recomproductsdetails7 != null">
				recomProductsDetails7 =
				#{record.recomproductsdetails7,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update recomproductsdetails
		set id = #{record.id,jdbcType=INTEGER},
		recomProducts_id = #{record.recomproductsId,jdbcType=INTEGER},
		recomTime = #{record.recomtime,jdbcType=TIMESTAMP},
		number =
		#{record.number,jdbcType=INTEGER},
		result =
		#{record.result,jdbcType=VARCHAR},
		oldMan_id =
		#{record.oldmanId,jdbcType=INTEGER},
		recomProductsDetails1 =
		#{record.recomproductsdetails1,jdbcType=VARCHAR},
		recomProductsDetails2 =
		#{record.recomproductsdetails2,jdbcType=VARCHAR},
		recomProductsDetails3 =
		#{record.recomproductsdetails3,jdbcType=VARCHAR},
		recomProductsDetails4 =
		#{record.recomproductsdetails4,jdbcType=VARCHAR},
		recomProductsDetails5 =
		#{record.recomproductsdetails5,jdbcType=VARCHAR},
		recomProductsDetails6 =
		#{record.recomproductsdetails6,jdbcType=VARCHAR},
		recomProductsDetails7 =
		#{record.recomproductsdetails7,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.older.manager.bean.RecomProductsDetails">
		update recomproductsdetails
		<set>
			<if test="recomproductsId != null">
				recomProducts_id = #{recomproductsId,jdbcType=INTEGER},
			</if>
			<if test="recomtime != null">
				recomTime = #{recomtime,jdbcType=TIMESTAMP},
			</if>
			<if test="number != null">
				number = #{number,jdbcType=INTEGER},
			</if>
			<if test="result != null">
				result = #{result,jdbcType=VARCHAR},
			</if>
			<if test="oldmanId != null">
				oldMan_id = #{oldmanId,jdbcType=INTEGER},
			</if>
			<if test="recomproductsdetails1 != null">
				recomProductsDetails1 =
				#{recomproductsdetails1,jdbcType=VARCHAR},
			</if>
			<if test="recomproductsdetails2 != null">
				recomProductsDetails2 =
				#{recomproductsdetails2,jdbcType=VARCHAR},
			</if>
			<if test="recomproductsdetails3 != null">
				recomProductsDetails3 =
				#{recomproductsdetails3,jdbcType=VARCHAR},
			</if>
			<if test="recomproductsdetails4 != null">
				recomProductsDetails4 =
				#{recomproductsdetails4,jdbcType=VARCHAR},
			</if>
			<if test="recomproductsdetails5 != null">
				recomProductsDetails5 =
				#{recomproductsdetails5,jdbcType=VARCHAR},
			</if>
			<if test="recomproductsdetails6 != null">
				recomProductsDetails6 =
				#{recomproductsdetails6,jdbcType=VARCHAR},
			</if>
			<if test="recomproductsdetails7 != null">
				recomProductsDetails7 =
				#{recomproductsdetails7,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.older.manager.bean.RecomProductsDetails">
		update
		recomproductsdetails
		set recomProducts_id =
		#{recomproductsId,jdbcType=INTEGER},
		recomTime =
		#{recomtime,jdbcType=TIMESTAMP},
		number = #{number,jdbcType=INTEGER},
		result = #{result,jdbcType=VARCHAR},
		oldMan_id =
		#{oldmanId,jdbcType=INTEGER},
		recomProductsDetails1 =
		#{recomproductsdetails1,jdbcType=VARCHAR},
		recomProductsDetails2 =
		#{recomproductsdetails2,jdbcType=VARCHAR},
		recomProductsDetails3 =
		#{recomproductsdetails3,jdbcType=VARCHAR},
		recomProductsDetails4 =
		#{recomproductsdetails4,jdbcType=VARCHAR},
		recomProductsDetails5 =
		#{recomproductsdetails5,jdbcType=VARCHAR},
		recomProductsDetails6 =
		#{recomproductsdetails6,jdbcType=VARCHAR},
		recomProductsDetails7 =
		#{recomproductsdetails7,jdbcType=VARCHAR}
		where id =
		#{id,jdbcType=INTEGER}
	</update>
</mapper>