<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.older.manager.mapper.SmsMapper" >
  <resultMap id="BaseResultMap" type="com.older.manager.bean.Sms" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sender" property="sender" jdbcType="VARCHAR" />
    <result column="sendTime" property="sendtime" jdbcType="TIMESTAMP" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="SMS1" property="sms1" jdbcType="VARCHAR" />
    <result column="SMS2" property="sms2" jdbcType="VARCHAR" />
    <result column="SMS3" property="sms3" jdbcType="VARCHAR" />
    <result column="SMS4" property="sms4" jdbcType="VARCHAR" />
    <result column="SMS5" property="sms5" jdbcType="VARCHAR" />
    <result column="SMS6" property="sms6" jdbcType="VARCHAR" />
    <result column="SMS7" property="sms7" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, sender, sendTime, content, number, SMS1, SMS2, SMS3, SMS4, SMS5, SMS6, SMS7
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.older.manager.bean.SmsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sms
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sms
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sms
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.older.manager.bean.SmsExample" >
    delete from sms
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.older.manager.bean.Sms" >
    insert into sms (id, sender, sendTime, 
      content, number, SMS1, 
      SMS2, SMS3, SMS4, SMS5, 
      SMS6, SMS7)
    values (#{id,jdbcType=INTEGER}, #{sender,jdbcType=VARCHAR}, #{sendtime,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=VARCHAR}, #{number,jdbcType=INTEGER}, #{sms1,jdbcType=VARCHAR}, 
      #{sms2,jdbcType=VARCHAR}, #{sms3,jdbcType=VARCHAR}, #{sms4,jdbcType=VARCHAR}, #{sms5,jdbcType=VARCHAR}, 
      #{sms6,jdbcType=VARCHAR}, #{sms7,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.older.manager.bean.Sms" >
    insert into sms
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sender != null" >
        sender,
      </if>
      <if test="sendtime != null" >
        sendTime,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="sms1 != null" >
        SMS1,
      </if>
      <if test="sms2 != null" >
        SMS2,
      </if>
      <if test="sms3 != null" >
        SMS3,
      </if>
      <if test="sms4 != null" >
        SMS4,
      </if>
      <if test="sms5 != null" >
        SMS5,
      </if>
      <if test="sms6 != null" >
        SMS6,
      </if>
      <if test="sms7 != null" >
        SMS7,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sender != null" >
        #{sender,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null" >
        #{sendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="sms1 != null" >
        #{sms1,jdbcType=VARCHAR},
      </if>
      <if test="sms2 != null" >
        #{sms2,jdbcType=VARCHAR},
      </if>
      <if test="sms3 != null" >
        #{sms3,jdbcType=VARCHAR},
      </if>
      <if test="sms4 != null" >
        #{sms4,jdbcType=VARCHAR},
      </if>
      <if test="sms5 != null" >
        #{sms5,jdbcType=VARCHAR},
      </if>
      <if test="sms6 != null" >
        #{sms6,jdbcType=VARCHAR},
      </if>
      <if test="sms7 != null" >
        #{sms7,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.older.manager.bean.SmsExample" resultType="java.lang.Integer" >
    select count(*) from sms
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sms
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.sender != null" >
        sender = #{record.sender,jdbcType=VARCHAR},
      </if>
      <if test="record.sendtime != null" >
        sendTime = #{record.sendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.number != null" >
        number = #{record.number,jdbcType=INTEGER},
      </if>
      <if test="record.sms1 != null" >
        SMS1 = #{record.sms1,jdbcType=VARCHAR},
      </if>
      <if test="record.sms2 != null" >
        SMS2 = #{record.sms2,jdbcType=VARCHAR},
      </if>
      <if test="record.sms3 != null" >
        SMS3 = #{record.sms3,jdbcType=VARCHAR},
      </if>
      <if test="record.sms4 != null" >
        SMS4 = #{record.sms4,jdbcType=VARCHAR},
      </if>
      <if test="record.sms5 != null" >
        SMS5 = #{record.sms5,jdbcType=VARCHAR},
      </if>
      <if test="record.sms6 != null" >
        SMS6 = #{record.sms6,jdbcType=VARCHAR},
      </if>
      <if test="record.sms7 != null" >
        SMS7 = #{record.sms7,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sms
    set id = #{record.id,jdbcType=INTEGER},
      sender = #{record.sender,jdbcType=VARCHAR},
      sendTime = #{record.sendtime,jdbcType=TIMESTAMP},
      content = #{record.content,jdbcType=VARCHAR},
      number = #{record.number,jdbcType=INTEGER},
      SMS1 = #{record.sms1,jdbcType=VARCHAR},
      SMS2 = #{record.sms2,jdbcType=VARCHAR},
      SMS3 = #{record.sms3,jdbcType=VARCHAR},
      SMS4 = #{record.sms4,jdbcType=VARCHAR},
      SMS5 = #{record.sms5,jdbcType=VARCHAR},
      SMS6 = #{record.sms6,jdbcType=VARCHAR},
      SMS7 = #{record.sms7,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.older.manager.bean.Sms" >
    update sms
    <set >
      <if test="sender != null" >
        sender = #{sender,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null" >
        sendTime = #{sendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="sms1 != null" >
        SMS1 = #{sms1,jdbcType=VARCHAR},
      </if>
      <if test="sms2 != null" >
        SMS2 = #{sms2,jdbcType=VARCHAR},
      </if>
      <if test="sms3 != null" >
        SMS3 = #{sms3,jdbcType=VARCHAR},
      </if>
      <if test="sms4 != null" >
        SMS4 = #{sms4,jdbcType=VARCHAR},
      </if>
      <if test="sms5 != null" >
        SMS5 = #{sms5,jdbcType=VARCHAR},
      </if>
      <if test="sms6 != null" >
        SMS6 = #{sms6,jdbcType=VARCHAR},
      </if>
      <if test="sms7 != null" >
        SMS7 = #{sms7,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.older.manager.bean.Sms" >
    update sms
    set sender = #{sender,jdbcType=VARCHAR},
      sendTime = #{sendtime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      SMS1 = #{sms1,jdbcType=VARCHAR},
      SMS2 = #{sms2,jdbcType=VARCHAR},
      SMS3 = #{sms3,jdbcType=VARCHAR},
      SMS4 = #{sms4,jdbcType=VARCHAR},
      SMS5 = #{sms5,jdbcType=VARCHAR},
      SMS6 = #{sms6,jdbcType=VARCHAR},
      SMS7 = #{sms7,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>