<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.older.manager.mapper.SpecialMapper" >
  <resultMap id="BaseResultMap" type="com.older.manager.bean.Special" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="projectName" property="projectname" jdbcType="VARCHAR" />
    <result column="oldMan_id" property="oldmanId" jdbcType="INTEGER" />
    <result column="special1" property="special1" jdbcType="VARCHAR" />
    <result column="special2" property="special2" jdbcType="VARCHAR" />
    <result column="special3" property="special3" jdbcType="VARCHAR" />
    <result column="special4" property="special4" jdbcType="VARCHAR" />
    <result column="special5" property="special5" jdbcType="VARCHAR" />
    <result column="special6" property="special6" jdbcType="VARCHAR" />
    <result column="special7" property="special7" jdbcType="VARCHAR" />
    <result column="special8" property="special8" jdbcType="VARCHAR" />
    <result column="special9" property="special9" jdbcType="VARCHAR" />
    <result column="special10" property="special10" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, projectName, oldMan_id, special1, special2, special3, special4, special5, special6, 
    special7, special8, special9, special10
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.older.manager.bean.SpecialExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from special
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
   order by id DESC
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from special
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from special
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.older.manager.bean.SpecialExample" >
    delete from special
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.older.manager.bean.Special" >
    insert into special (id, projectName, oldMan_id, 
      special1, special2, special3, 
      special4, special5, special6, 
      special7, special8, special9, 
      special10)
    values (#{id,jdbcType=INTEGER}, #{projectname,jdbcType=VARCHAR}, #{oldmanId,jdbcType=INTEGER}, 
      #{special1,jdbcType=VARCHAR}, #{special2,jdbcType=VARCHAR}, #{special3,jdbcType=VARCHAR}, 
      #{special4,jdbcType=VARCHAR}, #{special5,jdbcType=VARCHAR}, #{special6,jdbcType=VARCHAR}, 
      #{special7,jdbcType=VARCHAR}, #{special8,jdbcType=VARCHAR}, #{special9,jdbcType=VARCHAR}, 
      #{special10,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.older.manager.bean.Special" >
    insert into special
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projectname != null" >
        projectName,
      </if>
      <if test="oldmanId != null" >
        oldMan_id,
      </if>
      <if test="special1 != null" >
        special1,
      </if>
      <if test="special2 != null" >
        special2,
      </if>
      <if test="special3 != null" >
        special3,
      </if>
      <if test="special4 != null" >
        special4,
      </if>
      <if test="special5 != null" >
        special5,
      </if>
      <if test="special6 != null" >
        special6,
      </if>
      <if test="special7 != null" >
        special7,
      </if>
      <if test="special8 != null" >
        special8,
      </if>
      <if test="special9 != null" >
        special9,
      </if>
      <if test="special10 != null" >
        special10,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectname != null" >
        #{projectname,jdbcType=VARCHAR},
      </if>
      <if test="oldmanId != null" >
        #{oldmanId,jdbcType=INTEGER},
      </if>
      <if test="special1 != null" >
        #{special1,jdbcType=VARCHAR},
      </if>
      <if test="special2 != null" >
        #{special2,jdbcType=VARCHAR},
      </if>
      <if test="special3 != null" >
        #{special3,jdbcType=VARCHAR},
      </if>
      <if test="special4 != null" >
        #{special4,jdbcType=VARCHAR},
      </if>
      <if test="special5 != null" >
        #{special5,jdbcType=VARCHAR},
      </if>
      <if test="special6 != null" >
        #{special6,jdbcType=VARCHAR},
      </if>
      <if test="special7 != null" >
        #{special7,jdbcType=VARCHAR},
      </if>
      <if test="special8 != null" >
        #{special8,jdbcType=VARCHAR},
      </if>
      <if test="special9 != null" >
        #{special9,jdbcType=VARCHAR},
      </if>
      <if test="special10 != null" >
        #{special10,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.older.manager.bean.SpecialExample" resultType="java.lang.Integer" >
    select count(*) from special
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update special
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.projectname != null" >
        projectName = #{record.projectname,jdbcType=VARCHAR},
      </if>
      <if test="record.oldmanId != null" >
        oldMan_id = #{record.oldmanId,jdbcType=INTEGER},
      </if>
      <if test="record.special1 != null" >
        special1 = #{record.special1,jdbcType=VARCHAR},
      </if>
      <if test="record.special2 != null" >
        special2 = #{record.special2,jdbcType=VARCHAR},
      </if>
      <if test="record.special3 != null" >
        special3 = #{record.special3,jdbcType=VARCHAR},
      </if>
      <if test="record.special4 != null" >
        special4 = #{record.special4,jdbcType=VARCHAR},
      </if>
      <if test="record.special5 != null" >
        special5 = #{record.special5,jdbcType=VARCHAR},
      </if>
      <if test="record.special6 != null" >
        special6 = #{record.special6,jdbcType=VARCHAR},
      </if>
      <if test="record.special7 != null" >
        special7 = #{record.special7,jdbcType=VARCHAR},
      </if>
      <if test="record.special8 != null" >
        special8 = #{record.special8,jdbcType=VARCHAR},
      </if>
      <if test="record.special9 != null" >
        special9 = #{record.special9,jdbcType=VARCHAR},
      </if>
      <if test="record.special10 != null" >
        special10 = #{record.special10,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update special
    set id = #{record.id,jdbcType=INTEGER},
      projectName = #{record.projectname,jdbcType=VARCHAR},
      oldMan_id = #{record.oldmanId,jdbcType=INTEGER},
      special1 = #{record.special1,jdbcType=VARCHAR},
      special2 = #{record.special2,jdbcType=VARCHAR},
      special3 = #{record.special3,jdbcType=VARCHAR},
      special4 = #{record.special4,jdbcType=VARCHAR},
      special5 = #{record.special5,jdbcType=VARCHAR},
      special6 = #{record.special6,jdbcType=VARCHAR},
      special7 = #{record.special7,jdbcType=VARCHAR},
      special8 = #{record.special8,jdbcType=VARCHAR},
      special9 = #{record.special9,jdbcType=VARCHAR},
      special10 = #{record.special10,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.older.manager.bean.Special" >
    update special
    <set >
      <if test="projectname != null" >
        projectName = #{projectname,jdbcType=VARCHAR},
      </if>
      <if test="oldmanId != null" >
        oldMan_id = #{oldmanId,jdbcType=INTEGER},
      </if>
      <if test="special1 != null" >
        special1 = #{special1,jdbcType=VARCHAR},
      </if>
      <if test="special2 != null" >
        special2 = #{special2,jdbcType=VARCHAR},
      </if>
      <if test="special3 != null" >
        special3 = #{special3,jdbcType=VARCHAR},
      </if>
      <if test="special4 != null" >
        special4 = #{special4,jdbcType=VARCHAR},
      </if>
      <if test="special5 != null" >
        special5 = #{special5,jdbcType=VARCHAR},
      </if>
      <if test="special6 != null" >
        special6 = #{special6,jdbcType=VARCHAR},
      </if>
      <if test="special7 != null" >
        special7 = #{special7,jdbcType=VARCHAR},
      </if>
      <if test="special8 != null" >
        special8 = #{special8,jdbcType=VARCHAR},
      </if>
      <if test="special9 != null" >
        special9 = #{special9,jdbcType=VARCHAR},
      </if>
      <if test="special10 != null" >
        special10 = #{special10,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.older.manager.bean.Special" >
    update special
    set projectName = #{projectname,jdbcType=VARCHAR},
      oldMan_id = #{oldmanId,jdbcType=INTEGER},
      special1 = #{special1,jdbcType=VARCHAR},
      special2 = #{special2,jdbcType=VARCHAR},
      special3 = #{special3,jdbcType=VARCHAR},
      special4 = #{special4,jdbcType=VARCHAR},
      special5 = #{special5,jdbcType=VARCHAR},
      special6 = #{special6,jdbcType=VARCHAR},
      special7 = #{special7,jdbcType=VARCHAR},
      special8 = #{special8,jdbcType=VARCHAR},
      special9 = #{special9,jdbcType=VARCHAR},
      special10 = #{special10,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 根据老人id查询表 -->
  <select id="selectSpecialByOldmanId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  	select * from special where oldMan_id = #{id,jdbcType=INTEGER}
  </select>
</mapper>