<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.older.manager.mapper.StaffMapper" >
  <resultMap id="BaseResultMap" type="com.older.manager.bean.Staff" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="EnterPriseName" property="enterprisename" jdbcType="VARCHAR" />
    <result column="userRoles_id" property="userrolesId" jdbcType="INTEGER" />
    <result column="staff1" property="staff1" jdbcType="VARCHAR" />
    <result column="staff2" property="staff2" jdbcType="VARCHAR" />
    <result column="staff3" property="staff3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, account, password, department, EnterPriseName, userRoles_id, staff1, staff2, 
    staff3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.older.manager.bean.StaffExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from staff
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    order by id DESC
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from staff
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from staff
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.older.manager.bean.StaffExample" >
    delete from staff
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.older.manager.bean.Staff" >
    insert into staff (id, account, password, 
      department, EnterPriseName, userRoles_id, 
      staff1, staff2, staff3
      )
    values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{department,jdbcType=VARCHAR}, #{enterprisename,jdbcType=VARCHAR}, #{userrolesId,jdbcType=INTEGER}, 
      #{staff1,jdbcType=VARCHAR}, #{staff2,jdbcType=VARCHAR}, #{staff3,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.older.manager.bean.Staff" >
    insert into staff
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="enterprisename != null" >
        EnterPriseName,
      </if>
      <if test="userrolesId != null" >
        userRoles_id,
      </if>
      <if test="staff1 != null" >
        staff1,
      </if>
      <if test="staff2 != null" >
        staff2,
      </if>
      <if test="staff3 != null" >
        staff3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="enterprisename != null" >
        #{enterprisename,jdbcType=VARCHAR},
      </if>
      <if test="userrolesId != null" >
        #{userrolesId,jdbcType=INTEGER},
      </if>
      <if test="staff1 != null" >
        #{staff1,jdbcType=VARCHAR},
      </if>
      <if test="staff2 != null" >
        #{staff2,jdbcType=VARCHAR},
      </if>
      <if test="staff3 != null" >
        #{staff3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.older.manager.bean.StaffExample" resultType="java.lang.Integer" >
    select count(*) from staff
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update staff
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.account != null" >
        account = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.department != null" >
        department = #{record.department,jdbcType=VARCHAR},
      </if>
      <if test="record.enterprisename != null" >
        EnterPriseName = #{record.enterprisename,jdbcType=VARCHAR},
      </if>
      <if test="record.userrolesId != null" >
        userRoles_id = #{record.userrolesId,jdbcType=INTEGER},
      </if>
      <if test="record.staff1 != null" >
        staff1 = #{record.staff1,jdbcType=VARCHAR},
      </if>
      <if test="record.staff2 != null" >
        staff2 = #{record.staff2,jdbcType=VARCHAR},
      </if>
      <if test="record.staff3 != null" >
        staff3 = #{record.staff3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update staff
    set id = #{record.id,jdbcType=INTEGER},
      account = #{record.account,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      department = #{record.department,jdbcType=VARCHAR},
      EnterPriseName = #{record.enterprisename,jdbcType=VARCHAR},
      userRoles_id = #{record.userrolesId,jdbcType=INTEGER},
      staff1 = #{record.staff1,jdbcType=VARCHAR},
      staff2 = #{record.staff2,jdbcType=VARCHAR},
      staff3 = #{record.staff3,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.older.manager.bean.Staff" >
    update staff
    <set >
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="enterprisename != null" >
        EnterPriseName = #{enterprisename,jdbcType=VARCHAR},
      </if>
      <if test="userrolesId != null" >
        userRoles_id = #{userrolesId,jdbcType=INTEGER},
      </if>
      <if test="staff1 != null" >
        staff1 = #{staff1,jdbcType=VARCHAR},
      </if>
      <if test="staff2 != null" >
        staff2 = #{staff2,jdbcType=VARCHAR},
      </if>
      <if test="staff3 != null" >
        staff3 = #{staff3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.older.manager.bean.Staff" >
    update staff
    set account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      EnterPriseName = #{enterprisename,jdbcType=VARCHAR},
      userRoles_id = #{userrolesId,jdbcType=INTEGER},
      staff1 = #{staff1,jdbcType=VARCHAR},
      staff2 = #{staff2,jdbcType=VARCHAR},
      staff3 = #{staff3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>