<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.older.manager.mapper.TakeactivityMapper" >
  <resultMap id="BaseResultMap" type="com.older.manager.bean.Takeactivity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="Activity_id" property="activityId" jdbcType="INTEGER" />
    <result column="takeTime" property="taketime" jdbcType="TIMESTAMP" />
    <result column="isPresent" property="ispresent" jdbcType="VARCHAR" />
    <result column="remak" property="remak" jdbcType="VARCHAR" />
    <result column="oldMan_id" property="oldmanId" jdbcType="INTEGER" />
    <result column="takeActivity1" property="takeactivity1" jdbcType="VARCHAR" />
    <result column="takeActivity2" property="takeactivity2" jdbcType="VARCHAR" />
    <result column="takeActivity3" property="takeactivity3" jdbcType="VARCHAR" />
    <result column="takeActivity4" property="takeactivity4" jdbcType="VARCHAR" />
  </resultMap>
  <!-- 修改后的联合查询 -->
   <resultMap id="WithOldmanAndActivity" type="com.older.manager.bean.Takeactivity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="Activity_id" property="activityId" jdbcType="INTEGER" />
    <result column="takeTime" property="taketime" jdbcType="TIMESTAMP" />
    <result column="isPresent" property="ispresent" jdbcType="VARCHAR" />
    <result column="remak" property="remak" jdbcType="VARCHAR" />
    <result column="oldMan_id" property="oldmanId" jdbcType="INTEGER" />
    <result column="takeActivity1" property="takeactivity1" jdbcType="VARCHAR" />
    <result column="takeActivity2" property="takeactivity2" jdbcType="VARCHAR" />
    <result column="takeActivity3" property="takeactivity3" jdbcType="VARCHAR" />
    <result column="takeActivity4" property="takeactivity4" jdbcType="VARCHAR" />
 
    <!-- 联合查询老人的姓名封装 -->
    <association property="oldman" javaType="com.older.manager.bean.Oldman">
    	<id column="oldMan_id" property="id"/>
    	<result column="name" property="name"/>
    	<result column="sex" property="sex"/>
    	<result column="age" property="age"/>
    </association>
    
    <!-- 联合查询活动的封装 -->
    <association property="activity" javaType="com.older.manager.bean.Activity">
    	<id column="Activity_id" property="id"/>
    	<result column="title" property="title"/>
    	<result column="releasetime" property="releasetime"/>
    	<result column="activitytime" property="activitytime"/>
    	<result column="place" property="place"/>
    	<result column="releasepeople" property="releasepeople"/>
    	<result column="type" property="type"/>
    	<result column="content" property="content"/>
    	<result column="state" property="state"/>
    </association>
    
  </resultMap>
  
  
  
  
  
  
  
  
  
  
  
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, Activity_id, takeTime, isPresent, remak, oldMan_id, takeActivity1, takeActivity2, 
    takeActivity3, takeActivity4
  </sql>
   <sql id="With_OldmanAndActivity_List" >
    t.id, t.Activity_id, t.takeTime, t.isPresent, t.remak, t.oldman_id, t.takeActivity1, t.takeActivity2, 
    t.takeActivity3, t.takeActivity4,o.id,o.name,o.sex,o.age,a.id,a.title,a.releasetime,
    a.activitytime,a.place,a.releasepeople,a.type,a.content,a.state
  </sql>
     
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.older.manager.bean.TakeactivityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from takeactivity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from takeactivity
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <!--  带有其他老人与活动的****************-->
  <select id="selectByExampleWithOldmanAndActivity" resultMap="WithOldmanAndActivity" parameterType="com.older.manager.bean.Takeactivity">
      select
    
    <include refid="With_OldmanAndActivity_List" />
       FROM  takeactivity t ,oldman o, activity a  where  t.oldMan_id=o.id  
        and t.Activity_id=a.id
        <if test="oldman!=null">
        	<if test="oldman.name!=null and oldman.name!=''">
        		and o.name like '%${oldman.name}%'
        	</if>
        </if>
        <if test="activity!=null">
        	<if test="activity.title!=null and activity.title!=''">
        		and a.title like '%${activity.title}%'
        	</if>
        	<if test="activity.type!=null and activity.type!=''">
        		and a.type like '%${activity.type}%'
        	</if>
        </if>
  </select>
  <select id="selectByPrimaryKeyWithOldmanAndActivity" resultMap="WithOldmanAndActivity" parameterType="java.lang.Integer">
    select 
    <include refid="With_OldmanAndActivity_List" />
   
      FROM  takeactivity t  LEFT JOIN oldman o  ON t.oldMan_id=o.id  
       LEFT  JOIN activity a ON t.Activity_id=a.id 
    
    
    where t.id = #{id,jdbcType=INTEGER} 
  </select>
  <!--  带有其他老人与活动的*****************-->
  
  
 
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from takeactivity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.older.manager.bean.TakeactivityExample" >
    delete from takeactivity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.older.manager.bean.Takeactivity" >
    insert into takeactivity (id, Activity_id, takeTime, 
      isPresent, remak, oldMan_id, 
      takeActivity1, takeActivity2, takeActivity3, 
      takeActivity4)
    values (#{id,jdbcType=INTEGER}, #{activityId,jdbcType=INTEGER}, #{taketime,jdbcType=TIMESTAMP}, 
      #{ispresent,jdbcType=VARCHAR}, #{remak,jdbcType=VARCHAR}, #{oldmanId,jdbcType=INTEGER}, 
      #{takeactivity1,jdbcType=VARCHAR}, #{takeactivity2,jdbcType=VARCHAR}, #{takeactivity3,jdbcType=VARCHAR}, 
      #{takeactivity4,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.older.manager.bean.Takeactivity" >
    insert into takeactivity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="activityId != null" >
        Activity_id,
      </if>
      <if test="taketime != null" >
        takeTime,
      </if>
      <if test="ispresent != null" >
        isPresent,
      </if>
      <if test="remak != null" >
        remak,
      </if>
      <if test="oldmanId != null" >
        oldMan_id,
      </if>
      <if test="takeactivity1 != null" >
        takeActivity1,
      </if>
      <if test="takeactivity2 != null" >
        takeActivity2,
      </if>
      <if test="takeactivity3 != null" >
        takeActivity3,
      </if>
      <if test="takeactivity4 != null" >
        takeActivity4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="activityId != null" >
        #{activityId,jdbcType=INTEGER},
      </if>
      <if test="taketime != null" >
        #{taketime,jdbcType=TIMESTAMP},
      </if>
      <if test="ispresent != null" >
        #{ispresent,jdbcType=VARCHAR},
      </if>
      <if test="remak != null" >
        #{remak,jdbcType=VARCHAR},
      </if>
      <if test="oldmanId != null" >
        #{oldmanId,jdbcType=INTEGER},
      </if>
      <if test="takeactivity1 != null" >
        #{takeactivity1,jdbcType=VARCHAR},
      </if>
      <if test="takeactivity2 != null" >
        #{takeactivity2,jdbcType=VARCHAR},
      </if>
      <if test="takeactivity3 != null" >
        #{takeactivity3,jdbcType=VARCHAR},
      </if>
      <if test="takeactivity4 != null" >
        #{takeactivity4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.older.manager.bean.TakeactivityExample" resultType="java.lang.Integer" >
    select count(*) from takeactivity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update takeactivity
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.activityId != null" >
        Activity_id = #{record.activityId,jdbcType=INTEGER},
      </if>
      <if test="record.taketime != null" >
        takeTime = #{record.taketime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ispresent != null" >
        isPresent = #{record.ispresent,jdbcType=VARCHAR},
      </if>
      <if test="record.remak != null" >
        remak = #{record.remak,jdbcType=VARCHAR},
      </if>
      <if test="record.oldmanId != null" >
        oldMan_id = #{record.oldmanId,jdbcType=INTEGER},
      </if>
      <if test="record.takeactivity1 != null" >
        takeActivity1 = #{record.takeactivity1,jdbcType=VARCHAR},
      </if>
      <if test="record.takeactivity2 != null" >
        takeActivity2 = #{record.takeactivity2,jdbcType=VARCHAR},
      </if>
      <if test="record.takeactivity3 != null" >
        takeActivity3 = #{record.takeactivity3,jdbcType=VARCHAR},
      </if>
      <if test="record.takeactivity4 != null" >
        takeActivity4 = #{record.takeactivity4,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update takeactivity
    set id = #{record.id,jdbcType=INTEGER},
      Activity_id = #{record.activityId,jdbcType=INTEGER},
      takeTime = #{record.taketime,jdbcType=TIMESTAMP},
      isPresent = #{record.ispresent,jdbcType=VARCHAR},
      remak = #{record.remak,jdbcType=VARCHAR},
      oldMan_id = #{record.oldmanId,jdbcType=INTEGER},
      takeActivity1 = #{record.takeactivity1,jdbcType=VARCHAR},
      takeActivity2 = #{record.takeactivity2,jdbcType=VARCHAR},
      takeActivity3 = #{record.takeactivity3,jdbcType=VARCHAR},
      takeActivity4 = #{record.takeactivity4,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.older.manager.bean.Takeactivity" >
    update takeactivity
    <set >
      <if test="activityId != null" >
        Activity_id = #{activityId,jdbcType=INTEGER},
      </if>
      <if test="taketime != null" >
        takeTime = #{taketime,jdbcType=TIMESTAMP},
      </if>
      <if test="ispresent != null" >
        isPresent = #{ispresent,jdbcType=VARCHAR},
      </if>
      <if test="remak != null" >
        remak = #{remak,jdbcType=VARCHAR},
      </if>
      <if test="oldmanId != null" >
        oldMan_id = #{oldmanId,jdbcType=INTEGER},
      </if>
      <if test="takeactivity1 != null" >
        takeActivity1 = #{takeactivity1,jdbcType=VARCHAR},
      </if>
      <if test="takeactivity2 != null" >
        takeActivity2 = #{takeactivity2,jdbcType=VARCHAR},
      </if>
      <if test="takeactivity3 != null" >
        takeActivity3 = #{takeactivity3,jdbcType=VARCHAR},
      </if>
      <if test="takeactivity4 != null" >
        takeActivity4 = #{takeactivity4,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.older.manager.bean.Takeactivity" >
    update takeactivity
    set Activity_id = #{activityId,jdbcType=INTEGER},
      takeTime = #{taketime,jdbcType=TIMESTAMP},
      isPresent = #{ispresent,jdbcType=VARCHAR},
      remak = #{remak,jdbcType=VARCHAR},
      oldMan_id = #{oldmanId,jdbcType=INTEGER},
      takeActivity1 = #{takeactivity1,jdbcType=VARCHAR},
      takeActivity2 = #{takeactivity2,jdbcType=VARCHAR},
      takeActivity3 = #{takeactivity3,jdbcType=VARCHAR},
      takeActivity4 = #{takeactivity4,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>